[2020-07-07 13:19] kcopas opened #2 "Agree on sequence of authors"
[First of a few issues I'm porting over from @dschigel 's draft correspondence]

Some of us worked more, some less on the guide. We can try to reflect the inputs by volume and criticality (then I need suggestions before Zoom), or just go alphabetical by last name.

As activity coordinator, I am comfortable to be in last position and a corresponding author. I suggest we treat consultation as prepri

[2020-07-07 13:28] kcopas opened #3 "Check ORCID IDs"
I've added ORCID IDs for authors I thought could unambiguously identify. https://github.com/gbif/doc-publishing-sequence-derived-data/blob/master/colophon.en.adoc

That list does not include
- [x] Anders Andersson
- [x] Andrew Bissett
- [x] Michael Hope
- [x] Daniel Lundin

Please add your ORCID IDs below—or correct it if I've gotten your döppelganger.

[2020-07-07 13:37] kcopas opened #4 "Add affiliations, opt-in for email display"
@dschigel requests that the authors spell out their affiliations: we have acronyms now. Please also check that we have your preferred names.

Also please opt-in on whether we should display your email along with your affiliations. We will only display GBIF staff unless you indicate otherwise.

What we have is this:

- [ ] Anders G. Finstad, NTNU (mailto:anders.finstad@ntnu.no)
- [ ] Frode Fossøy,

[2020-07-07 13:42] kcopas opened #5 "Rework Figure 1"
- [ ] Replace ? in Figure 1 with a chapter number

[2020-07-07 13:42] kcopas opened #6 "Rework/adapt 'borrowed' Norwegian figures"
- [ ] Rework/adapt those “borrowed” from the Norwegian doc (with credit)

[2020-07-07 13:44] kcopas opened #7 "Adjust workflow figure"
- [ ]  Perhaps the orientation of the workflow (now Figure 2) could be vertical instead of horizontal to allow further explanation of data relevant for publishing at each step. I can help with this section if needed, during the workshop.

In many ways a nicer, less detailed, but addressing the same need as [the flowchart under original vector diagram](https://drive.google.com/file/d/1S0g8d2eb96Vnx

[2020-07-07 13:46] kcopas opened #8 "Review/refine Figure 1"
Use visual, a flowchart on how publishing works? Figure here based on 2.2.3 from NO report? Maybe a visualisation from GBIF on general biodiversity publishing (if it exists)?

NO original: https://drive.google.com/file/d/1O8zu2RCc3GHKtGVrrgYEHI_O5Wl0-4C0/view?usp=sharing

[2020-07-07 13:46] kcopas opened #9 "Revise/refine Figure 4"
Maybe this this figure, or another figure or table, could be used to show the correspondence between different processing steps and where the information is captured? May also be cross-referencing to table 3.3.1?

[2020-07-07 14:03] kcopas opened #10 "Category III needs more text"
Missing: address detection limit of qPRC methods, high importance and interpretation advice for absence data. With qPCR you actually don’t have a sequence, the confidence in detection is different Is it a different basis of record, actually? False positive and false negative issue.

[2020-07-07 14:08] kcopas opened #11 "Expand the 1.7. Outputs and 1.2.5 Metadata mapping sections"
Sweden, Norway and Australia: Recommendations in relation to differences between national platforms (linked) here?
* Data generalization level, i.e. SE/NO reporting ASV-level data vs. AU reporting highest-resolution latin taxon?
* User input fields vs. processed / platform-supplied fields (SE only)

[2020-07-07 14:09] kcopas opened #12 "Address materialSample and basisOfRecord discussion"
We agreed this is not nice, but there is no better alternative under current schema. We may include suggestions and recommendation for the better way in the future (perhaps under Future prospects).

Maria: I still think a new category that identifies all sequence-based observations would be very useful. This is related to the basisOfRecord problem. Maybe it is relevant to remember that DNA extract

[2020-07-07 14:10] kcopas opened #13 "AssociatedSequence"
@Maria: Delete and put links to ENA/NCBI/Dryad... in materialSampleID instead? We forgot to discuss this, I suggest we keep this for consultation.

As we stress the important of sequence archival at NCBI, we need to say where do these links go in the mapping.

[2020-07-07 14:10] kcopas opened #14 "Sop field"
Sop field is at risk to be a waste basket for all things protocols. Maria: Does this make designated fields for processing details, e.g. clustering/denoising algorthms, superfluous, or should some fields be added for this?

[2020-07-07 14:13] kcopas opened #15 "Complete glossary definitions"
As stated.

[2020-07-07 14:24] dschigel commented on #15
Кто прочел, тот хомо хабилис. Test post

[2020-07-07 14:25] kcopas commented on #15
yeah, you betcha

[2020-07-07 16:09] kcopas opened #16 "Explain why ALA is singled out in §1.2?"
I think some could find the end of [this reference]( https://docs.gbif-uat.org/publishing-sequence-derived-data/1.0/en/#target-audiences) confusing (I did at first):

Should we not consider making the explicit point that the GBIF IPT cannot publish sequence-derived data?

At least I think that's the reason…

[2020-07-07 16:13] kcopas opened #17 "What is Text Box 3.2.1"
Reference in [this section](https://docs.gbif-uat.org/publishing-sequence-derived-data/1.0/en/#introduction-to-sequence-derived-occurrence-data) calls out a later text box, but I'm unclear on the reference (even knowing that the numbers. There's barely any text in §3.2.1.

[2020-07-07 16:20] kcopas opened #18 "Need an eMoF reference"
Draft called out eMoF without explanation or link in [§2.2](https://docs.gbif-uat.org/publishing-sequence-derived-data/1.0/en/#data-mapping).

It could go in the glossary if it plays a signficant part elsewhere, otherwise we should spell it out (as I've done) and probably link to some source (not sure which).

[2020-07-08 11:53] dschigel opened #19 "Spanish title by mistake?"
https://docs.gbif-uat.org/publishing-sequence-derived-data/1.0/en/#_control_de_documentos

[2020-07-08 11:58] #19 closed, assigned to kcopas

[2020-07-08 12:06] dschigel opened #20 "Citation does not stress this is a draft"
As this is, basically, a preprint, a public draft, I suggest we add a word "draft", and version with live date into recommended citation. This is important to differentiate this raw state from the one we plan to close (and number 2.0, perhaps) and use for broader distribution. Could be important for all ongoing consultation. I know all of them are supposed to evolve under the same DOI, but I am lo

[2020-07-08 13:06] puh32 commented on #4
R. Henrik Nilsson, University of Gothenburg, Department of Biological and Environmental Sciences, Box 461, 405 30 Göteborg, Sweden

[2020-07-08 23:05] #20 closed, assigned to nobody

[2020-07-08 23:07] kcopas commented on #20
It does now. We can archive PDFs of major versions at Zenodo and assign other DOIs, too, if you wish.

[2020-07-09 01:59] m-hope commented on #3
Hi Dmitry, my ORCID ID is https://orcid.org/0000-0002-4827-3310. Cheers,  Michael.

[2020-07-09 03:48] erikrikarddaniel commented on #3
I'm https://orcid.org/0000-0002-8779-6464.

[2020-07-09 03:54] erikrikarddaniel commented on #4
Daniel Lundin, Centre for Ecology and Evolution in Microbial model Systems - EEMiS, Linnaeus University, SE-39182 Kalmar, Sweden

I'm not sure if and how we want to mention the SBDI that's common for me, Maria P and Anders A.

It's fine to include my email.

[2020-07-09 03:57] erikrikarddaniel commented on #2
I'm fine with any author order.

[2020-07-09 06:38] m-hope commented on #4
Michael Hope, Atlas of Living Australia, CSIRO National Collections & Marine Infrastructure, GPO Box 1700, Canberra  ACT  2601, Australia.

Happy to have my email included.

[2020-07-09 06:51] m-hope commented on #2
I don't mind either...

[2020-07-09 06:55] m-hope opened #21 "Realign categories in Figure 6b to match new category order"
Just noticed that the categories have been adjusted in a different order... I'll send through a new version of the diagram with the categories adjusted.  I'll also fade the B/W (grey) parts of the DNA a bit more to emphasise the "marker" component.

[2020-07-09 10:07] MattBlissett commented on #21
If the tool you use to produce the graphic supports saving as SVG (Scalable Vector Graphic), using it instead of a PNG would mean the graphic scales perfectly on any screen — old PC monitors, new hi-resolution PC monitors, and smartphones — and also the PDF.

[2020-07-09 10:08] dschigel commented on #21
I just got a PPT from Michael, fw'ed to @kcopas.

[2020-07-09 13:53] #21 closed, assigned to nobody

[2020-07-09 13:54] MattBlissett commented on #21
PowerPoint is able to export to SVG, although the option is a bit hidden.

See https://docs.gbif-uat.org/publishing-sequence-derived-data/1.0/en/#figure-07

[2020-07-10 05:54] abissett commented on #3
https://orcid.org/0000-0001-7396-1484

[2020-07-10 05:58] abissett commented on #4
Andrew Bissett, CSIRO O&A, GPO box 1533, Hobart, Tasmania, 7000, Australia

Happy to opt-in for the email

[2020-07-10 05:59] abissett commented on #2
I have no preference for order

[2020-07-10 06:58] m-hope commented on #16
The ALA is mentioned here as all the "national biodiversity data platforms" represented by the participants of this working group are based on the ALA's Living Atlases code/platform.  Does it make it less confusing if we change the text to:

If you want to give readers more information you could link to this page: https://living-atlases.gbif.org/

[2020-07-10 07:19] dschigel commented on #16
I trust the English speakers to fix the style, but the meaning to me is that guide is suitable for sharing sequence-derived data through global and national portals. The latter can be ALA platform based, or not - I think our mapping advice would work anyway, do yo agree @m-hope ?

[2020-07-10 07:30] m-hope commented on #16
Correct. We've used GBIF and ALA based platforms to develop this document and so we present them as examples, but the principles in this guide should apply to any biodiversity data repository/platform/portal.

[2020-07-12 00:44] kcopas commented on #3
Still need your ORCID ID, please @andand

[2020-07-12 09:13] andand commented on #4
Anders F. Andersson, Science for Life Laboratory, Department of Gene Technology, KTH Royal Institute of Technology, 17121 Stockholm, Sweden

Happy to have my email included.

[2020-07-12 09:17] andand commented on #3
I'm: https://orcid.org/0000-0002-3627-6899

[2020-07-12 12:31] #3 closed

[2020-07-13 09:04] #18 closed, assigned to nobody

[2020-07-14 09:35] CecSve commented on #4
Cecilie S. Svenningsen, Natural History Museum of Denmark, University of Copenhagen, Øster Voldgade 5-7, 1350 Copenhagen, Denmark

Happy to have my email included.

[2020-07-14 09:39] CecSve commented on #2
I don't have any preference for order of authorship either

[2020-08-03 10:02] dschigel opened #22 "Add Tim Hirsch"
Please add @timhirsch to https://docs.gbif-uat.org/publishing-sequence-derived-data/1.0/en/#contributors

[2020-08-03 11:38] #22 closed, assigned to nobody

[2020-08-04 12:55] kcopas commented on #15
As of community review draft, here are the missing glossary terms:

[[ala]]Atlas of Living Australia (ALA)::
[[bold]]Barcode of Life Data System (BOLD)::
[[dwc-standard]Darwin Core (DwC) standard::
[[dwc-a]]Darwin Core Archive (DwC-A)::
[[data-vocabulary]]Data vocabulary::
[[doi]]Digital Object Identifier (DOI)::
[[embl]]EMBL::
[[fastq]]FASTQ::
[[gbif]]GBIF::
[[ggbn]]GGBN::
[[index]]Indexing::
[[i

[2020-08-04 12:56] #17 closed, assigned to nobody

[2020-08-04 13:01] kcopas commented on #16
Thanks @m-hope—sorry I'm so slow to respond here!

I think adding 'the' would clarify the sentence, but it makes me think that we want to be careful to distinguish between ALA and (more generically) the Living Atlases platform. That wouldn't set anyone's noses out of joint, would it?

[2020-08-04 13:41] kcopas opened #23 "Text edits needed in §1.6"
Given its importance to the guide, I think there are several passages in [§1.6 on Taxonomy of sequences](https://docs.gbif-uat.org/publishing-sequence-derived-data/1.0/en/#taxonomy-of-sequences) that would benefit from some careful editing and clarification.

- [x] Given that sequence-derived occurrences are rapidly becoming a significant source of biodiversity data, and that official taxonomy and

[2020-08-05 03:40] m-hope commented on #16
I think if we try clarify the differentiate between the ALA and other Living Atlas platforms we are going to end up back where we started and the statement will be too confusing again. I think there are enough direct references to the ALA in the document to distinguish it from other Living Atlas platforms, and at the end of the day, the ALA is also based on the platform, it's just the original one

[2020-08-05 03:58] m-hope commented on #23
How about this for the first paragraph/sentence:

And this for the second paragraph:

[2020-08-05 08:06] dschigel commented on #23
Nice! Suggestion for 1: official taxonomy and nomenclature for this type of data lags behind ->  taxonomy and nomenclature for this type of data is not coordinated centrally

[2020-08-05 11:31] jhnwllr opened #24 "The underlining looks off"
There underlining looks bad in some sections for some reason...
https://docs.gbif-uat.org/publishing-sequence-derived-data/1.0/en/#mapping-metabarcoding-edna-and-barcoding-data

[2020-08-05 11:35] MattBlissett commented on #24
Could you give a screenshot, and tell me which browser you are using?

[2020-08-05 12:10] andand opened #25 "error in links"
A couple of links are non-functioning in chapter 1.5
- "Hugerth et al. 2017" should point to: https://www.frontiersin.org/articles/10.3389/fmicb.2017.01561/full
- "nf-core/ampliseq pipeline" should point to: https://nf-co.re/ampliseq

[2020-08-05 12:29] jhnwllr commented on #24
On chrome

![Untitled](https://user-images.githubusercontent.com/4245213/89412837-058cd200-d728-11ea-8c41-790ab1f47a57.png)

[2020-08-06 09:20] dschigel opened #26 "Funny font with dotted underline"
....in the first columns of the tables

[2020-08-06 09:30] MattBlissett commented on #26
Do you see what John sees, in #24?

(If so, just close this.)

[2020-08-06 09:32] dschigel commented on #24
Yes, I see the same from Chrome. They click thought all right, but not really well readable.

[2020-08-06 09:51] MattBlissett commented on #24
It looks like it's a bug in Chrome: https://crbug.com/808603

I can't see it on my screen, possibly because it's high resolution.  Is it OK at http://mb.gbif.org/documents/doc-publishing-sequence-derived-data/en/#mapping-metabarcoding-edna-and-barcoding-data ?

[2020-08-06 09:53] dschigel commented on #24
Ctrl+ several times on a laptop screen turns dots into dashed underline and makes it readable. Looks like display issue. Very minor.

[2020-08-06 16:45] acbentley opened #27 "Category II: Enriched occurrences"
As a collection manager, it is unclear from this document whether the Category II:  Enriched occurrences is being seen as a mechanism for the publishing of existing Genbank sequences associated with voucher material to data publishers and therefore a mechanism for data integration using the new clustering feature in GBIF?  Currently, I am publishing over 16,000 Genbank sequences associated with ti

[2020-08-07 07:18] dschigel commented on #27
Thanks @acbentley, this is an important one. We will make sure to look into improvement option, perhaps best discuss them here in the thread first, and then fix.

[2020-08-07 10:01] dschigel opened #28 "Referencing NCBI"
For https://docs.gbif-uat.org/publishing-sequence-derived-data/1.0/en/#data-mapping

On behalf of Jurate De Prins @JurateSC (GBIF Science committee):

"I am very sorry if I missed in the document (I have just scrolled it and it looks great) is there any way to cite published reference on the presented sequence data or / and GenBank numbers.
...
There are two most commonly used ways to present and

[2020-08-10 08:41] #28 closed, assigned to nobody

[2020-08-10 10:30] #25 closed, assigned to nobody

[2020-08-19 18:24] ramonawalls opened #29 "Continued coordination with GSC"
Thank you for making this very helpful guide. I plan to share it with many collaborators.

As a representative of GSC, I am very happy to see the creation of the MIxS extension and the recommendation of its use. I would be happy to answer any questions that come up about using MIxS. The GSC Compliance and Interoperability Group (the working group that manages MIxS and other standards), is currentl

[2020-08-20 13:57] dschigel commented on #29
Thanks a lot @ramonawalls, it is fantastic to see support form GSC / MIxS. This issue is visible to all authors, and @thomasstjerne  with co-authors of the mapping section will be paying attention to further feedback and the RDF and IRI,

[2020-08-22 05:53] qgroom opened #30 "Apathetic to Access and Benefit Sharing"
I'm disappointed the authors don't express an opinion on Access and Benefit Sharing. Closing access to such data would be a disaster for the subject. The authors seem to be saying that they should be left alone because they only work with non-coding regions, but the field is unlikely to stay this way for ever. NGS techniques are capable of doing much more and would be severely damaged be restricti

[2020-08-22 05:54] qgroom opened #31 "spelling mistake in figure 2.5.1"
refference -> reference

[2020-08-22 05:56] qgroom opened #32 "Inconsistency in the using data as singular or plural"
The document flip-flops on data being plural and singular.
I'd prefer if it all would be plural

[2020-08-22 06:03] qgroom opened #33 "The who of an observation is essential"
The person or people making the observation is a critical piece of information. It should be added to this sentence

recordedBy should also be added to Table 1.

This is essential provenance information.  It is a critical datum to link and verify other kinds of data.
Biographic and bibliographic data are some of the best curated data so having a link to a person adds a great deal to the usefulness

[2020-08-22 06:06] qgroom opened #34 "dwc:scientificName"
`dwc:scientificName` is defined as "The full scientific name, with **authorship and date information** if known", but your example does not conform to this. I guess it should be Gadus morhua L. 1758

[2020-08-22 06:11] qgroom opened #35 "suggesting putting a taxon ID in the dwc:scientificName field"
Why would you suggest putting a taxon ID `BOLD:ACF1143` in the `dwc:scientificName` field. Surely this clearly fits the `dwc:taxonConceptID` definition?

[2020-08-22 06:28] qgroom opened #36 "Has the addition of DNA to dwc:basisOfRecorded be raised as an issue"
Has the addition of DNA to `dwc:basisOfRecord` be raised as an issue with the Darwin Core Maintenance Group?
If not it should be done immediately. There is little point talking about something that could be changed quickly and without fuss.

[2020-08-22 06:31] qgroom opened #37 "Lack of a critique of sequence databases"
There is no critique of sequence databases and the associate data they hold (ENA, Genbank). Their poor data structure, makes linking data so much harder and they are largely useless for tracking provenance.
I was expecting at least some comment on this.

[2020-08-22 06:42] qgroom opened #38 "The title is a bit cryptic"
I found the title of the document rather misleading. Only after reading the document did I discover that it was mainly about DNA barcoding. The 'sequence-derived data' that are referred to is really only the taxon name or OTU. The 'biodiversity data platforms' referred to are largely occurrence databases.

[2020-08-22 06:48] qgroom opened #39 "ASV is not defined on first usage"
I guess this is common usage in the domain, but I find the distinction between an OTU and a ASV indistinct. At least for vascular plants there are plenty of examples of good taxon being inseparable by DNA barcodes or only by a single base pair. In this terminology these sequences would be considered ASVs and so are just sequence variants of the same taxon.

[2020-08-22 08:29] dschigel commented on #30
Thanks @qgroom for these and all the other most helpful comments! Excellent inputs, all of them. On that particular one we do have a longer version, this needs to be considered together with @timhirsch in search of the more powerful and clear statement. Do you have suggestion of concrete points to make without opening a whole chapter on ABS / DSI? I can assure you that all authors do have an opini

[2020-08-22 15:58] qgroom commented on #30
Yes, I can understand the desire not to address the topic, but at the moment the text seems to imply that it doesn't really concern you. I would just make the section even shorter, perhaps referencing a paper that does take a position you agree with.

[2020-08-22 16:43] dschigel commented on #30
I did not feel that this is not addressed... to make sure we are talking about the same section, let me quote, this is the area we are talking about. Please suggest concrete messages to add or stress, and I will make sure to discuss with all authors at the next Zoom call. I will also dig out an earlier and more direct version. E.g. change from "" to "", or add "" is preferred, I think we can achie

[2020-08-22 16:49] qgroom commented on #30
It's that first paragraph that says to me "_This sort of research is irrelevant to Access and Benefit Sharing so leave us alone and focus on people who use coding regions_". I'm sure you don't mean that, but a naive reader, such as myself, might be given that impression.

[2020-08-22 16:54] dschigel commented on #30
Noted, and welcome to give more. Alternative and additional wording is welcome (from all who are reading this). We have between now and Bilbo Baggins birthday to make it perfect together.

[2020-08-22 16:57] qgroom commented on #30
Now I have also learned something about Bilbo Baggins!

[2020-08-23 10:07] timhirsch commented on #30
I understand @qgroom 's point, but feel strongly it would be unwise to enter more deeply into the DSI issue than the guide does at present. This is partly because the role of the guide is as a practical 'how-to' resource rather than a polemical position paper, as @dschigel notes. However, diving too deep into the arguments relating to DSI would also risk caricaturing contrary positions as binary c

[2020-08-26 08:10] msweetlove opened #40 "typo in link to section 1.6"
In the 2nd alinea under fig 2.2, there is a link to paragraph that refers to "2.6" but goes to "1.6"

[2020-08-26 08:31] msweetlove opened #41 "some caution needed towards erroneous OTUs/ASVs in final data"
I think the text should express a bit more caution towards the final product of sequence denoising/quality control and clustering/ASV detection. Any occurrence dataset that is exclusively based on environmental sequences is prone to having undetected erroneous sequences (i.e. good quality and high abundant sequences that did not originate from a biological organism). These sequences can be created

[2020-08-26 08:40] msweetlove opened #42 "no mention on the importance of mock communities for eDNA based datasets"
The text excellently points out that "technical and biological replicates should be included to validate species detection". One such method that is often used (but not enough) is to include mock communities on a sequencing run. Mock communities are artificially constructed biological species communities with a known species and relative abundance content (e.g. creating a sample by pooling several

[2020-08-26 08:48] dschigel commented on #42
Dear @msweetlove thanks for this is previous comments, just to let you know that all good and noted, will be reviewed by authors one by one. Thanks a lot for your careful reading, we really appreciate that.

[2020-08-26 08:49] msweetlove opened #43 "What are the recommendations for eDNA-specific metadata?"
I miss some recommendations on how to structure metadata (e.g. the EML file from the IPT) for the specific metadata needs of sequencing datasets. With this specific metadata, I mean references to on DNA extraction protocols, primers used, specific PCR settings, sequencing protocols and the data denoising alorithms and associated parameters. Perhaps also the bioproject number to the location of the

[2020-08-26 12:27] MattBlissett commented on #40
Thanks Maxime.

Authors/editors (@kcopas etc), if you set these attributes at the top of index.en.adoc:
[code]

Then a `<<taxonomy-of-sequences>>` link (without a comma to override the automatic link text) would show as "§1.6", i.e. be numbered automatically.  Figure and table links would also take a short form, "Figure 2", "Table 3" etc.

There isn't a good way to automatically add the number to

[2020-08-27 04:54] dhobern opened #44 "Issues in figures"
Figure 1 (and also Figure 4):
-  "ASV denoising" misspelled as "ASV denosing"
- Can BOLD please be added to the DB image at the bottom left?

Figure 4:
- 'Bimera filtering" is not explained. Does it really make sense for it to happen after OTU clustering? Surely bimeras should be found before attempting that. Maybe it can be treated as part of denoising.

[2020-08-27 04:59] dschigel commented on #44
Noted and will be taken care of. Thanks @dhobern for joining the reading club! I was about to write to you to invite your feedback, it's great that you started already! Inputs from you and others from BOLD are very important.

[2020-08-27 10:25] dschigel commented on #42
For the subject of this comment, and excellent and fresh illustration of the power of the mock (shall we say artificially assmebled?) community approach to calibrate semi-quantitative interpretations there is a a great reference, just published [https://doi.org/10.1111/nph.16731](https://doi.org/10.1111/nph.16731)

[2020-08-28 07:29] dhobern commented on #39
I agree and am somewhat puzzled by the emphasis on ASVs in the context of GBIF. I find it particularly odd in the context of the first mention - I'm working on a branch where I'll address Quentin's point, but it would still read:

My understanding would be that retaining data on ASVs gives us the power always to reinterpret the signals of relatedness we are getting from the signals, whereas retain

[2020-08-28 07:36] dschigel commented on #39
Thanks @dhobern , yes I agree with your softer version. Even among authors, representing their country approaches, there were differences about what is the right way: e.g. ASV is central for the approach in Sweden, but in Australia representation of denser, maybe less ASV-detailed clusters seems to be preferred. We need to solve two tasks here: allow countries / systems some decision freedom of wh

[2020-08-28 07:37] dhobern opened #45 "Biomass and body size"
From 100.en.adoc:

The paragraph has already stated that "[s]ome studies show a relationship between the amount of DNA for a given species in an environmental sample and the biomass of the species in the environment" - in other words, the comparison here is around biomass, not individual count, and the multicellular/microscopic contrast is not really a challenge to the studies in question.

It may

[2020-08-28 07:41] dschigel commented on #45
Yes, indeed. A whole book can be written on reasons for biases, but let's only add a few lines, plus maybe ab ref to a good recent review that covers the topic

[2020-08-31 08:39] erikrikarddaniel opened #47 "Small mistakes and possibilities of improvement here and there in 100.en.adoc"
The sentence "Sequence derived biological occurrence data includes environmental DNA (eDNA) (DNA extracted from environmental samples or, rather than from individual organisms (Thomsen and Willerslev 2015) and, from bulk samples comprising many individuals (e.g. plankton samples or Malaise trap samples consisting of multiple individuals from many species)." in the intro has more left parentheses t

[2020-08-31 08:57] erikrikarddaniel commented on #44
I added BOLD to my files, but someone were supposed to make these figures nicer, right?

Also, maybe bimera filtering isn't so important to keep? It complicates things as it, like @dhobern notes, is performed differently for OTU clustering and ASV denoising respectively.

[2020-08-31 09:03] erikrikarddaniel opened #48 "Last sentences in "Introduction to sequence-derived occurrence data" appear oddly placed"
The three finishing sentences: "A number of analytical methods exist for studying environmental DNA. You can divide these into two main types where one wants to 1) detect a specific organism or 2) describe a community of a range of organisms. Different methods of analysis will generate different types and volumes of data. Most often DNA concentrations are low, and technical and biological replicat

[2020-08-31 10:33] erikrikarddaniel commented on #48
Moving this to my overall `100.en.adoc` issue.

[2020-08-31 10:33] #48 closed, assigned to nobody

[2020-09-01 05:31] erikrikarddaniel opened #49 "Small thing(s) in 200.en.adoc"
I can't see that qPCR, dPCR and ddPCR are defined at first use in `200.en.adoc`. Moreover, I had never heard of dPCR and ddPCR but they seem synonymous and are trademarks(?).

[2020-09-01 09:14] thomasstjerne commented on #35
Since 2018 stable OTU identifiers has been included in the GBIF taxonomic backbone build:
https://www.gbif.org/news/2LrgV5t3ZuGeU2WIymSEuk/adding-sequence-based-identifiers-to-backbone-taxonomy-reveals-dark-taxa-fungi
In 2019 it was extended with BOLD identifiers as well:
https://data-blog.gbif.org/post/gbif-backbone-taxonomy/

This was done to provide are more fine grained view on / indexing of s

[2020-09-03 10:09] CecSve commented on #27
Yes, at least as I see it, Category II: Enriched occurrences should be seen as a category for vouchers in collections. This is however not limited to single specimens, but also bulk samples and other samples that are integrated into natural history collections with associated sequences.

[2020-09-03 11:00] CecSve opened #50 "Small edit: Figure 6 (Decision tree)"
1) Just a reminder that we agreed that the categories in the decision tree should be click-able so the reader could easily jump to the relevant explanation/examples/standards of the category

2) Maybe metabarcoding in the decision tree should be (meta)barcoding, to make it clear that both bulk samples and individual samples are part of the decision?

[2020-09-03 11:31] CecSve commented on #42
I agree it would be good to encourage the use of positive controls

[2020-09-03 11:38] CecSve commented on #43
The guide does not deal with metadata in detail, see:

However, I agree that a section on structuring metadata in the context of this guide would be a nice edition (especially for new data publishers). Maybe an idea for a future development of the guide? What do you think @dschigel ?

[2020-09-03 16:11] pragermh commented on #13
@kcopas @dschigel I think we should recommend using _materialSampleID_ for ENA/NCBI BioSampleID (thus providing a link to _raw sequence reads_ / run accessions), and optionally to use _associatedSequences_ for linking to _processed(denoised) barcode_ sequences stored e.g. in PlutoF?

[2020-09-03 21:30] andand opened #51 "redundancy in: 1.4. Introduction to biodiversity publishing"
DwC-A is introduced twice in this chapter (on page 8 and 9).

[2020-09-03 21:38] andand opened #52 "Small suggestions for: 1.5. Processing workflows: from sample to ingestible data"
- I suggest we change: "Currently the Illumina short read platform is the most developed"
to: "Currently the Illumina short read platform is the most widely used"

- Change "IQIIME" to "QIIME"

- Add citation after "BIOM format": [The Biological Observation Matrix (BIOM) format or: how I learned to stop worrying and love the ome-ome. Daniel McDonald, Jose C. Clemente, Justin Kuczynski, Jai Ram Rid

[2020-09-03 21:46] andand opened #53 "Small suggestion on: 2.2.1 sampleSizeValue"
In order to stress the importance of providing the total number of reads for the sample, I suggest we change the Description of sampleSizeValue to: "Total number of reads in the sample. This is important since it allows calculating the relative abundance of the sequence variant within the sample."

[2020-09-03 22:00] andand opened #54 "Introduce the terms "barcoding" and "metabarcoding" in: 1.3. Introduction to sequence-derived occurrence data"
1.3. Introduction to sequence-derived occurrence data describes eDNA in much detail, but i think it would also be appropriate here to intoduce/define the terms "DNA barcoding" and "metabarcoding", since especially the latter is much used in the following chapters.

[2020-09-04 02:42] abissett commented on #52
QIIME should probably be QIIME2?

[2020-09-04 02:45] abissett commented on #42
It seems easiest to say that sequencing should follow best practice and include appropriate controls, and then add some cites around what these might be.  The issue of how to add these controls (or the info they might impart) to an occurrence isn't clear to me.  It's also unlcear exactly how the use of controls is (could be?) standardised across sequencing efforts etc.  As the comment suggests thi

[2020-09-04 05:16] msweetlove commented on #42
@abissett I was just wondering if this isn't a good opportunity to point out/advocate that sequencing efforts should by default include some kind of positive controls (which is actually rarely done). Using mock communities is a good practice of positive control samples, but definitely does not mean workflows need to be standardized over studies. If (only) those mock samples are standardized, howev

[2020-09-04 06:43] thomasstjerne commented on #35
We need a brief summary (with references) of the work on stable OTU identifiers as mentioned above.

[2020-09-04 06:54] CecSve commented on #13
Is this related to issue #27 ?

[2020-09-04 06:55] #34 closed, assigned to nobody

[2020-09-04 07:12] #53 closed, assigned to nobody

[2020-09-05 03:57] qgroom opened #55 "Link to the record of the host organism"
When the sequence is derived from an organism (e.g. a parasite, gut contents, epibiont etc) the observation should be linked with the observation of the host organism. This can be achieved using the Resource Relation extension of Darwin Core (e.g. https://www.gbif.org/species/143610775/verbatim). I don't think it id enough just to mention the host organism in one of the free text fields as its met

[2020-09-07 06:43] andand commented on #52
Yes, probably better with QIIME2

[2020-09-08 00:32] m-hope commented on #55
Agreed, and you can see an example of exactly this type of data in the third example dataset listed in the "2.1.2. Category II: Enriched occurrences" section.  At the moment, the ALA doesn't handle the Resource Relation extension very well (but we are looking to change that in the near future) so we've had to use the AssociatedOccurrence field instead to at least allow users to identify the host/p

[2020-09-08 11:49] raissameyer opened #57 "Typo: Preface"
The last paragraph of the [Preface](https://docs.gbif-uat.org/publishing-sequence-derived-data/1.0/en/#introduction) mentions the BIOM format (misspelled as BIOME)

[2020-09-08 12:41] raissameyer opened #58 "Small suggestion for 1.1 Rationale"
In paragraph 3 of [1.1 Rationale](https://docs.gbif-uat.org/publishing-sequence-derived-data/1.0/en/#rationale), you mention that about 85% of species are still undescribed. However, the source of this statement ([Mora et al. 2011](https://doi.org/10.1371/journal.pbio.1001127)) is only mentioned two sentences later (which, as far as I could tell, no longer reference Mora et al.'s paper).

I'd sugg

[2020-09-08 13:29] raissameyer commented on #40
The same issue occurs in paragraph 2 of [1.3 Introduction to sequence-derived occurrence data](https://docs.gbif-uat.org/publishing-sequence-derived-data/1.0/en/#introduction-to-sequence-derived-occurrence-data) (mentioning §3.1.3 and §3.2.3, but linking to §2.1.3 and §2.2.2).

Also, in paragraph 1 of [Section 2](https://docs.gbif-uat.org/publishing-sequence-derived-data/1.0/en/#data-packaging-and

[2020-09-09 07:36] m-hope commented on #27
Agreed, I very much see this category handling DNA data associated with voucher specimens.  Although very much a work in progress (perhaps even only proof of concept) at the moment, the ALA is keen to try to capture the specimen <-> tissue <-> DNA data connections, even if we don't necessarily store the sequence data, but link out to the relevant repository for it.  I think the scope of this work

[2020-09-09 14:57] corinnemartin opened #59 "Small edit to the Preface"
I suggest you drop ELIXIR from the list of entities you "are aware of but did not yet consult" - you have consulted us, it's just that we have not yet logged any issue. If this was to be kept, please link up to the main website https://elixir-europe.org/ rather than https://bio.tools/

[2020-09-09 15:00] corinnemartin opened #60 "Minor edits to the Abstract"
Suggest rephrasing to:
The guide covers choices of particular schemas and terms, **common pitfalls** and **good** practice [...]

**Good** rather than **best** as this is a developing field

[2020-09-09 15:04] corinnemartin opened #61 "General comment on using the wording "DNA-based studies""
I am perhaps out of my depth but wonder whether this could be rephrased as "molecular [data?] studies" - I'm thinking e.g. of the 'RNA viruses' whose genomes will be made of RNA rather than DNA. To be cross-checked with experts as maybe this is an accepted term. I imagine viruses count as biodiversity? Anyway, please ignore if irrelevant

[2020-09-09 15:06] corinnemartin commented on #61
Same comment for "DNA sequence data" => replace with more generic "genetic sequence data" or whatever the experts recommend?

[2020-09-09 15:08] corinnemartin commented on #61
Same for "DNA methodologies" => "molecular methods?"

[2020-09-09 15:14] raissameyer opened #62 "MIxS related suggestions"
It’s great to read about the efforts to align MIxS and DwC standards!

Here are some suggestions concerning those sections:

- I noticed that you first mention MIxS in [1.5](https://docs.gbif-uat.org/publishing-sequence-derived-data/1.0/en/#processing-workflows-from-sample-to-ingestible-data) **[careful - typo!]**, however you neither explain the acronym nor the standard itself at this first menti

[2020-09-09 15:18] corinnemartin opened #63 "Suggestions for Rationale section"
Suggested edits:
Doing so will **help avoid significant inefficiencies that have been reported in other domains**, in which the lack of standards and **guidance** has led to very heterogeneous and largely incomparable bodies of data (Leebens-Mack et al. 2006; Yilmaz et al. 2011; Nilsson et al. 2012). **Given than a large proportion of biodiversity data are created using public and charitable funds

[2020-09-09 15:21] corinnemartin commented on #63
Further suggested edits:
The ability to collect usable data even for unnamed species adds significantly to the many ways in which GBIF and other biodiversity data platforms index the living world **, and make this knowledge available to all and for a variety of purposes, including biodiversity conservation.**

I suggest to delete the next sentence ("This change will benefit researchers, policymake

[2020-09-09 15:23] corinnemartin commented on #61
same for "DNA-derived data" => "molecular data"?

[2020-09-09 15:27] corinnemartin commented on #32
me too, but I've been told many times that it is also accepted in the singular form. As long as it's the same everywhere in the doc, that should work!

[2020-09-09 15:50] corinnemartin commented on #30
Some suggestions - feel free to use or not.

Suggest minor addition to "This guide sets out the ways in which **genetically** -derived occurrence data should be reported for standardized inclusion in GBIF and other biodiversity data platforms ** , in the spirit of open science**".

Suggest replacing the rest of the paragraph with this higher-level (= vague and non-committal) statement:

**The auth

[2020-09-09 22:30] acbentley commented on #27
Agreed, the biggest issue in trying to integrate all of these products of collections use is the use of identifiers that would create the necessary linkages.  Researchers are very poor at correct citation of collection specimens.  I have been doing a lot of this in my own database by trolling Genbank and published citations to make the linkages.  It has taken hundreds of hours to find all of these

[2020-09-10 03:54] m-hope commented on #27
Thanks, that's a great example.  As I said I think the scope of this work is outside of the proposed guidelines, but the ALA will be working with the AU collection community over the next year or so to explore what we can do... I would certainly value your input and I'm happy to include you in the process if you are interested.

[2020-09-10 12:01] lzinger opened #64 "wrong referencing/statement"
in the sentence section 1.3 "Large multicellular organisms are likely to shed more eDNA than microscopic ones (Elbrecht & Leese 2015). ". The reference cited here does not support this statement as far as I know. I'm actually not even sure that this statement is correct (I do not have any ref in mind supporting that), especially if one considers that microscopic organisms biomass is generally much

[2020-09-10 13:17] lzinger opened #65 "abundance vs presence/absence statements"
in section 1.3: "Without careful calibration, biological observations derived from eDNA should be thought of "observed presences" or perhaps "relative abundances" (where the relationship is to other observations using a particular sample and assay), rather than reliably indicating actual abundance or absence." This sentence is discutable and should be toned down in my opinion. DNA metabarcoding ge

[2020-09-10 13:50] CecSve commented on #64
True, this sentence should be revised (or deleted). The authors find that biomass is positively correlated to the amount of reads (from MiSeq) although biomass was not correlated to the number of species detected. The statement is quite specific and related to freshwater macro invertebrates, so not universally true.

[2020-09-10 14:35] lzinger opened #66 "last § section 1.3"
I do not understand the objective of this paragraph, it mixes several things and I see different problems.

1/
"eDNA is thus a sample type, not a method, including DNA derived from any environmental sample rather than from the capture and sequencing of a targeted individual. Such sample types includes water, soil, sediment and air, but also stool samples and tissue (plant/animal) where the host DN

[2020-09-10 14:45] lzinger commented on #61
the terms DNA-based and others that you mention are accepted in the scientific community. RNA is not often used in practice because it's a challenging molecule to sample/deal with and is relevant rather for targeting "active microbial communities" or RNA viruses as you said. So it's very specific.

[2020-09-10 14:52] lzinger commented on #41
+1; great comment and suggestions.

[2020-09-10 14:57] lzinger opened #67 "Darwin Core link incorrect"
section 1.4 first occurrence. Points to the FAIR paper, not Dw-C related pages.

[2020-09-10 15:10] lzinger opened #68 "unclear statement on heterogeneity and outliers"
in section 1.4 "The process of standardization also provides an opportunity.... and handling heterogeneities and outliers.". heterogeneities in what? and outliers relative to what?

[2020-09-10 15:26] CecSve commented on #66
Number 2.2 in this issue links to issue #42

[2020-09-10 16:05] lzinger opened #69 "Bimera > Chimera in Fig 4"
Bimera term is less common in the literature and in an ideal world, the curation process should not be restricted to bimera.

[2020-09-10 21:10] metabaRfactory opened #70 "heavy use of jargon in section 1.5"
I would refer to simple principles rather than too specific terms when it's not necessary, especially if the target audience includes non specialists. For example, contrasting closed vs open reference method is too complicated IMO, especially when this jargon is not used by all in the field.

Following this idea, I give an example with the third §, which could be "The pre-processed sequences can t

[2020-09-10 21:19] lzinger opened #71 "chimera detection not so easy"
section 1.5: Current text gives the impression that chimeras can be easily removed. However, to my knowledge, detecting chimera remains a challenging endeavour especially for short DNA sequences (and hence short chimeric ranges) produced by Illumina sequencers (e.g. see benchmark of chimera detection tools in Wright et al 2012 AEM 78(3), 717-725).

[2020-09-10 21:27] lzinger opened #72 "problem with examples of bioinformatics pipelines"
section 1.5: "Several open source pipelines exist for bioinformatic processing of metabarcoding data (lQIIME, DADA2, SWARM, USEARCH, mothur, LULU, PROTAX) [LINKS]."

These examples mixes bioinformatics pipelines (i.e. of which input is a sequencer output, and output is an OTU table, such as QIIME (typo in the text), DADA2, USEARCH or mothur) with algorithms with a specific task. swarm is only a cl

[2020-09-10 22:38] lzinger opened #73 "studying biodiversity does not necessarily relies on taxonomy"
"Any attempt at characterizing biodiversity will therefore make use of the end products of taxonomic research". This statement is not in agreement with the definition of biodiversity and ignore the field of functional ecology. I would delete or tone down.

[2020-09-10 23:00] lzinger opened #74 "not enough references to the literature"
throughout the article, many statements are not supported by references, making fact checking difficult. Citing references could be also useful for the guide user, who could be interested in exploring some topics in more details.

[2020-09-11 07:40] lzinger opened #75 "Category II in figure 7"
Could not understand why there is a long and a short fragment, what is meant here, it is not discussed in the corresponding section.

[2020-09-11 08:13] lzinger opened #76 "storage of data on NCBI/EMBL"
last § of section 1.4: Maybe to tone down or reformulate a bit. There are actually numerous studies for which data are not stored in these repositories because these were built so that to host metabarcoding data generated in a particular way (each sequencing library is a different sample). Many scientists use another sample tagging strategy (during the PCR, and therefore sequence only one library)

[2020-09-11 09:00] lzinger opened #77 "Figure 8 missing?"
see title.

[2020-09-11 09:05] lzinger opened #78 "nearest parent taxon for category IV"
The name may depend on the tool used to assign a taxon to the OTU/ASV, as well as the database completeness. Is it a desirable property? Or do you recommend using standard procedures to leave taxon names? How one can determine whether the taxonomic assignment is stable? Should taxonomy re-infered regularly as long as reference databases become more complete?

[2020-09-11 12:12] lzinger opened #79 "sop in table 2"
I was wondering whether the sop field includes more details on the PCR mix (e.g. what polymerase) and thermocycling conditions as well as DNA extraction and library prep protocols, as they all can affect the results. The example provided does not provide much details on these aspect to assess the data reliability.

[2020-09-11 14:50] lzinger commented on #79
same question for table 4

[2020-09-11 19:30] cmungall commented on #62
I would really like to see the standards such as MIxS laid out in Figure 1 in section 1.2

[2020-09-16 13:53] FFossoy commented on #61
I agree that "DNA-based" is accepted by the scientific community and would be preferable. "Genetically-based" or "genetically-derived" could be another option. "Molecular" is even broader and would cover much more than we do in the report.

[2020-09-16 13:56] dschigel commented on #61
-based was dismissed in the earlier discussion for some deep English reasons, and "molecular" too, especially as we don't dead with non-nucleic compounds, e.g. not with ergosterol. I am happy with derived, but rely on field experts and native EN speakers.

[2020-09-16 13:58] corinnemartin commented on #30
This policy briefing (published today!) is by far the clearest and most informative summary of the DSI issue:
https://post.parliament.uk/research-briefings/post-pn-0630/

you would reference it in the text, if readers wish to learn more

[2020-09-16 14:04] FFossoy commented on #61
OK, so what about simply naming the title: "Publishing genetically derived taxon identity through biodiversity data platforms"?

[2020-09-17 00:38] m-hope commented on #61
As Dmitry points out, this topic was much discussed in our meetings. As a non molecular scientist, I've used both "derived" and "based" in my discussions within the ALA, but happy to defer to those more knowledgable for the more appropriate term.  However, while I think this proposed title is probably more semantically correct, my gut feel when I read it tends to lean a little too much towards nam

[2020-09-21 01:20] camiplata opened #80 "Improve Figure 1."
This figure is present as the key to navigate the document nevertheless it is hard to navigate, some points for improvement:

1. Visuals can have more harmony, colors and arrows can be improved for better understanding.
2. Acronyms, as the target audience is broad from 'students planning a first sequence-based study,... to bioinformaticians', most acronyms should be stated explicitly in the figure

[2020-09-22 07:35] SSuominen1 opened #81 "Some connecting sentences in 1.7 outputs"
It wasn't clear to me at first how UNITE links to the outputs discussed in the first paragraphs of this part. I would add just a few sentences to make the connection with GBIF output and UNITE and BOLD, to make the transition.

[2020-09-22 07:44] SSuominen1 opened #82 "Discussion on metagenomics?"
This is focused on metabarcoding studies, but metagenomics is also briefly mentioned. I guess adding information from metagenomics datasets is another challenge, maybe there could be some mention of plans for this?

[2020-09-22 07:55] SSuominen1 opened #83 "use of qPCR/PCR"
qPCR is more sensitive but I think normal PCR could also be used in some cases to determine presence/absence of a specific sequence? Maybe in the first mention can be said that PCR-based assays, as well as the title of section 2.1.3. And then further define quantitative PCR (qPCR) (and possible other PCR-based methods) in the text.

[2020-09-29 09:48] ManonGros opened #84 "Section 1.1 second paragraph"
On the following sentence:

Comment from @birgitgemeinholzer:

[2020-09-29 10:04] ManonGros opened #85 "Section 1.1 paragraph 4"
Proposed reworking of this paragraph by @birgitgemeinholzer:

In addition to that, two comments concerning the last sentence of the paragraph:

-  Comment 1:  you want to use the genetic information itself, which is deposited in the genbanks and add additional information to it
- Comment 2: I would like to point out that added value can be created by adding metadata to the sequences

[2020-09-29 11:04] ManonGros opened #86 "Section 1.3 Paragraph 2"
Suggestion by @birgitgemeinholzer to make the following addition at the end of the paragraph:

[2020-09-29 11:27] thomasstjerne commented on #83
This should be addressed in the https://github.com/gbif/doc-publishing-sequence-derived-data/tree/fossoy branch which deals with PCR

[2020-09-29 11:30] ManonGros opened #87 "Section 1.2 figure 2"
Comments and suggestions from @birgitgemeinholzer about figure 2:

- instead of "denoising" perhaps "quality filtering"?
- in the legend: "here exemplified by metabarcoding" metabarcoding versus eDNA-barcoding - does this need an explanation here?
- For eDNA, most of the steps up to sequencing will involve technical or biological replications **to identify contamination and false positives as well

[2020-09-29 11:33] ManonGros opened #88 "Section 1.3 paragraph 3"
Comment/addition from @birgitgemeinholzer  on that section:

Comment:

[2020-09-29 11:37] ManonGros opened #89 "Section 1.4 Paragraph 2"
Question from @birgitgemeinholzer concerning content of that paragraph:

[2020-09-29 11:43] ManonGros opened #90 "Section 1.5 Paragraph 2"
@birgitgemeinholzer I am not sure that I understood your comment correctly, was it a suggestion to make the following addition to the text?

[2020-09-29 11:44] dschigel commented on #89
They are (in Germany?) as I just heard from @gdadade at https://www.youtube.com/watch?v=FmrV6fQwyNQ&list=PLD9-DRLWVl0lCDE5C2uJkY_B7DOAMZdB-&index=22&ab_channel=BiodiversityInformationStandardsTDWG

[2020-09-29 11:44] thomasstjerne commented on #78
Category IV touches on how the GBIF backbone taxonomy includes two major sequence-based checklists, UNITE (Fungi) and BOLD (Animals).

[2020-09-29 11:44] #78 closed, assigned to nobody

[2020-09-29 11:49] #72 closed, assigned to nobody

[2020-09-29 11:52] dschigel commented on #87
denoising is standard in sequence handling, quality talk in GBIF etc circles. They are not quite the same thing. Agree on No 2 and No 3.

[2020-09-29 11:54] #67 closed, assigned to nobody

[2020-09-29 12:00] ManonGros opened #91 "Section 1.5 Paragraph 3"
Comment or suggested addition by @birgitgemeinholzer:

[2020-09-29 12:08] #63 closed, assigned to nobody

[2020-09-29 12:15] #60 closed, assigned to nobody

[2020-09-29 12:17] #59 closed, assigned to nobody

[2020-09-29 12:23] ManonGros opened #92 "Section 1.6 Paragraph 5"
Comment/question from @birgitgemeinholzer concerning the following sentence:

What is meant by "stability"?

[2020-09-29 12:23] #58 closed, assigned to nobody

[2020-09-29 12:24] #57 closed, assigned to nobody

[2020-09-29 12:27] ManonGros opened #93 "Section 1.6 Paragraph 6"
Proposed changes by @birgitgemeinholzer in the following sentences:

[2020-09-29 12:28] thomasstjerne commented on #64
Relates to https://github.com/gbif/doc-publishing-sequence-derived-data/issues/45

[2020-09-29 12:30] thomasstjerne commented on #69
relates to https://github.com/gbif/doc-publishing-sequence-derived-data/issues/44

[2020-09-29 12:30] ManonGros opened #94 "Section 1.7 Paragraph 1"
Comment/suggestion by @birgitgemeinholzer on the following sentence:

Comment:

[2020-09-29 12:35] ManonGros opened #95 "Section 1.7 Last Paragraph"
Comment by @birgitgemeinholzer on the following snippet of text:

Comment:

[2020-09-29 12:46] thomasstjerne commented on #41
In [table 2](https://docs.gbif-uat.org/publishing-sequence-derived-data/1.0/en/#mapping-metabarcoding-edna-and-barcoding-data), it is recommended to include the DNA sequence with the occurrence record for the exact reasons you describe.

The description of the `DNA_sequence` field in the table:

Along with a link out to detailed Standard operating procedures in the `sop` field the suggested data p

[2020-09-29 13:06] thomasstjerne commented on #39
Actually, it is not really directly related to the reference library - it is about the occurrence data that could be re-interpreted later against a new version of the reference library, or even another reference library in the future.
Originally this meant "Please include all sequence variants when you publish your occurrence data". This could either be by publishing several occurrences of the sam

[2020-09-29 13:24] ManonGros opened #96 "Section 2.2.1"
Comments/suggestions by @birgitgemeinholzer:

| Field Name  | Comment | Commented on |
| ------------- | ------------- | ----|
| `materialSampleID`  | can this also be a catalogue voucher number of a natural history museum?  | MaterialSample (as opposed  |
|`identificationRemarks`  | this confidence will change over time - is it really recommended?  | database, as well as |
| `previousIdentificati

[2020-09-29 14:38] CecSve commented on #70
Thank you for your comment and formulation. I support changing the text to the suggested formulation.

[2020-09-29 14:46] #70 closed, assigned to nobody

[2020-09-29 15:44] birgitgemeinholzer commented on #92
this means if you add or delete taxa the OTUS might appear at other parts of the tree - this is often the case if you have hybrids between not closely related parents - then the offspring might appear basal to the parrents or between them with intermediate characters

[2020-09-29 15:53] birgitgemeinholzer commented on #95
e.g.  https://doi.org/10.1111/1755-0998.12948

[2020-09-29 15:59] birgitgemeinholzer commented on #90
yes this is correct (we sometimes pool location-tagged PCR fragments to save money during sequencing) . In addition we sometimes even filter genes for conserved motives as in plants there might exist multiple copies in the genome which are silenced if mutation rates were too high

[2020-09-29 16:01] birgitgemeinholzer commented on #88
well sometimes it might be difficult to find the whole organim, however detecting DNA traces (pollen, spores, faeces) is sometimes easier and they provide information about the potential presence of the organism in the near vicinity

[2020-09-30 06:21] ManonGros opened #97 "Section 1.1 Paragraph 1"
Comment from AW on the following sentence:

comment:

You are talking about environmental DNA surveys (eDNA) here, but this might not be known to many readers.

[2020-09-30 06:23] ManonGros opened #98 "Section 1.1 Paragraph 4"
Comment from AW on following sentence:

Comment:

And, there are no "non-coding genes".
A gene is defined as a encoding part of the genome.

[2020-09-30 06:24] ManonGros opened #99 "Section 1.1 Last paragraph"
Comment from AW on following sentence:

Comment:

[2020-09-30 06:26] ManonGros opened #100 "Section 1.2 Figure 1"
Comments from AW:

- Would it be possible to use more red-green friendly colors?
- Chapter ?

[2020-09-30 06:29] ManonGros opened #101 "Section 1.3 Figure 2"
AW noticed that there is a misspelling in the figure:

Would it be possible to correct it?

[2020-09-30 06:32] ManonGros opened #102 "Section 1.3 Paragraph 3"
Comment from AW on the following sentence:

Comment:

The benefit of DNA-based surveys now is to be able to distinguish those species within the G. fossarum complex. But, this is no explicit benefit of eDNA, but of sequence-based approaches in general.

[2020-09-30 06:35] ManonGros opened #103 "Section 1.3 Paragraph 3"
Suggestion from AW:
Replace:

By:

[2020-09-30 06:52] ManonGros opened #105 "Section 1.3 Paragraph 4"
Comments from AW:

| Sentence | Comment |
| --- | --- |
| **other studies** show little correlation between environmental DNA quantity and estimated population density | there are actually much more studies showing that this correlation can not be done, than studies that indicate a potential correlation. Its here somehow unbalanced that the "pro site" has several references, whereas the much more

[2020-09-30 07:21] ManonGros opened #106 "Section 1.3 Paragraph 5 (Last paragraph)"
Comments form AW:

| Sentence | Comment |
| --- | --- |
| sample types includes water, soil, sediment and air, but also **stool samples** and tissue | including gut content analyses |
| Most often DNA concentrations are low, and technical and biological replicates should be included to validate species detection. | replicates should not be included "because" DNA concentrations can be low, but simp

[2020-09-30 07:28] CecSve commented on #90
Tags can also be sample-specific in multiplex pools, and not necessarily associated with sampling location.

[2020-09-30 07:38] ManonGros opened #107 "Section 1.5 Paragraph 5"
Comment from AW about the following sentence:

Comment:

[2020-09-30 07:39] ManonGros opened #108 "Section 1.6 Title"
Comment from AW:

[2020-09-30 07:41] ManonGros opened #109 "Section 1.6 Paragraph 4"
Comment from AW about the following sentence:

Comment:

[2020-09-30 07:45] birgitgemeinholzer commented on #90
I agree, in addition tags can also be due to different laboratory treatments (primers, etc)

[2020-09-30 07:46] ManonGros opened #111 "Section 1.7 Paragraph 2"
Comment from AW about the following sentence:

Comment:

Imagine you obtain a species list from an eDNA water sample. How can be ensured that the species found in this eDNA sample have been found at this locality? The eDNA traces could be in the gut content of one specimen, simply washed from upstream reaches, or floated in by leaves from terrestrial habitats. Simply speaking, how can a reliably o

[2020-09-30 07:48] ManonGros opened #112 "Section 2.1.1. Category I: Sequence-derived occurrences"
Comment from AW about the following sentence:

Comment:

[2020-09-30 07:50] ManonGros opened #113 "Section 2.1.3. Category III: Targeted species detection (qPCR)"
Comment from AW about the following sentence:

Comment:

But even than, if DNA concentration is below this threshold, the species might still be present but the assay not able to detect it

[2020-09-30 08:05] ManonGros opened #115 "add votu_class_appr votu_seq_comp_appr and votu_db"
Comments from AW:

| Field Name | Comment |
| --- | --- |
| `occurrenceStatus` | See comment about absence: https://github.com/gbif/doc-publishing-sequence-derived-data/issues/113 |
| `organismQuantity` | does only make sense in combination with sampleSizeValue, as this is important for interpretation |
| `scientificName` | about "closest known taxon" would not generalize it. If the closest known

[2020-09-30 08:09] ManonGros opened #116 "Section 3 Paragraph 3"
Comment from AW about the following sentence:

Comment:

[2020-09-30 08:42] CecSve commented on #96
Regarding the primer comment - each occurrence will still be detected by a unique primer, so even if the same species is detected with multiple primers, it would still require a new observation for each primer

[2020-09-30 09:19] thomasstjerne commented on #14
Ideally the designated fields should be used as these can be indexed by GBIF/ALA. So if you want to be able to search your own data (or allow others) then use the fields.
If you haven´t got the time for the mapping exercise,  then a link out in the `sop` field at least make the records provenance available in some form.

[2020-09-30 09:19] #14 closed

[2020-09-30 10:21] thomasstjerne commented on #96
Yes. In this case I would recommend having one DwC:occurrence with several lines in the extension file, one pr primer set.
Similar to an occurrence having several photos in the multimedia extension.

[2020-09-30 10:32] thomasstjerne commented on #96
The description of the field says

The confidence in the example refers to how this occurrence ended up being identified as some taxon. It is a simple text field as an opportunity to give users of this data some clue of how the taxonomic assignment was done. At least mention the reference database used.

[2020-09-30 10:41] thomasstjerne commented on #96
Yes

[2020-09-30 10:45] #96 closed, assigned to nobody

[2020-09-30 10:45] timrobertson100 commented on #27
Since the GBIF clustering is mentioned here, I'll comment.

I agree it falls outside the scope of the document being discussed here, but @acbentley raises very good points and use cases around data linking that the clustering aims to help address. Specifically, I see three things to improve 1) clustering does not yet, but should make use of content provided in extensions, 2) guidelines should be g

[2020-09-30 10:47] thomasstjerne commented on #96
Removed `previousIdentifications` from the list of recommended fields.
The Swedish Bioatlas used the field for classifier output and of course this is still possible

[2020-09-30 10:54] thomasstjerne commented on #81
This issue relates to https://github.com/gbif/doc-publishing-sequence-derived-data/issues/35

[2020-09-30 11:14] thomasstjerne commented on #50
@CecSve @ManonGros
Could you take a look at @MattBlissett s [clickable decision tree](https://docs.gbif-uat.org/publishing-sequence-derived-data/decision-tree/en/#categorization-of-your-data). I think it looks good, and if you agree I´ll merge it into the main branch.

[2020-09-30 11:26] ManonGros commented on #50
I think it looks good too although maybe @CecSve is right and we should use the term (Meta)barcoding?

[2020-09-30 11:37] CecSve commented on #50
Yes, I think it looks good too. I would still advocate that we either say '(meta)barcoding' or maybe 'barcoding or metabarcoding' unless the guide only focus on eDNA/community DNA

[2020-09-30 11:57] #50 closed, assigned to nobody

[2020-09-30 12:27] #45 closed, assigned to nobody

[2020-09-30 12:27] #64 closed, assigned to nobody

[2020-09-30 12:53] #52 closed, assigned to nobody

[2020-09-30 13:10] thomasstjerne commented on #75
I think it should illustrate full genome or multilocus data

[2020-09-30 13:10] #75 closed, assigned to nobody

[2020-09-30 14:26] acbentley commented on #27
@timrobertson100 and @m-hope I would be happy to work more on this as it has implications for the Extended Specimen idea that I have a vested interest in.  Let me know what we can do to drive this forward.

[2020-10-01 00:46] m-hope commented on #27
Hi @timrobertson100, happy to close this issue and continue further discussion with you and @acbentley offline.

[2020-10-01 06:19] timrobertson100 commented on #27
Thanks @m-hope. I'll take this up with @acbentley

[2020-10-01 06:19] #27 closed, assigned to nobody

[2020-10-02 08:48] thomasstjerne commented on #81
Agree, a somewhat abrupt transition from GBIF output formats to a presentation of the UNITE system:

[2020-10-15 05:41] andersfi commented on #2
fine with the order with the guide. and yes, Frode F. should be listed as co-author.

[2020-10-15 05:45] andersfi commented on #4
Anders G. Finstad, Department of Natural History, Centre for Biodiversity Dymamics, Norwegian University of Science and Technology, Trondheim, Norway

Happy to show of e-mail

[2020-10-15 05:46] andersfi commented on #6
Please let me know if the orginal vector graphic files would facilitate this.

[2020-10-15 05:58] kcopas commented on #6
Yes, most definitely!

[2020-10-15 06:48] pragermh commented on #13
At present, we give 'https://www.ebi.ac.uk/ena/browser/view/SAMEA3724543' as an example for associatedSequences, but SAME... is a BioSample acc no in ENA, so should instead be given next to the NCBI BioSample link 'https://www.ncbi.nlm.nih.gov/biosample/15224856' under materialSampleID.

[2020-10-15 07:27] andersfi commented on #6
sending you a share link to a google drive in e-mail. The figures are as draw.io figures (online, freeware tool), but I guess can be downloaded to any format from there.

[2020-10-15 07:30] dschigel commented on #8
Link to the originals from Anders F https://drive.google.com/drive/folders/1YrbzUPn3rbuU29sz2LBDufy5TSfg3tYw?usp=sharing

[2020-10-15 07:31] dschigel commented on #6
https://drive.google.com/drive/folders/1YrbzUPn3rbuU29sz2LBDufy5TSfg3tYw?usp=sharing

[2020-10-15 10:01] thomasstjerne commented on #108
Section 1.6 explains in detail that not only linnean taxonomy is meant.
GBIF augments the backbone taxonomy with DNA based taxa from both BOLD and UNITE

[2020-10-15 10:01] #108 closed, assigned to nobody

[2020-10-15 10:03] #109 closed, assigned to nobody

[2020-10-15 10:27] #43 closed, assigned to nobody

[2020-10-15 10:40] dschigel opened #118 "Change title to DNA-derived and check document"
As agreed on 15 October, the title needs to change from sequence-derived to DNA-derived, and the whole document needs to be check for consistent use of new title.

[2020-10-15 11:00] #47 closed, assigned to nobody

[2020-10-15 11:05] thomasstjerne commented on #118
This was closed in https://github.com/gbif/doc-publishing-sequence-derived-data/commit/51f435c9f76a5fc800b45690597a4b3ad268f7e7

However, we may also want to rename the repository but this may affect the document builds? @MattBlissett  ?

[2020-10-15 11:26] thomasstjerne commented on #83
@FFossoy

[2020-10-15 11:30] thomasstjerne commented on #79
@FFossoy do you think this is covered by the new PCR related fields in the extension?

[2020-10-15 12:04] #90 closed, assigned to nobody

[2020-10-15 12:33] thomasstjerne commented on #61
Decided on meeting the 15th oct 2020 between authors to proceed with the term DNA-derived data.

[2020-10-15 12:33] #61 closed, assigned to nobody

[2020-10-15 12:42] thomasstjerne commented on #38
Now changed to DNA-derived data.
The document addresses publication of data where

1) The identification of a taxon is based entirely on presence of some DNA in a environmental or bulk sample.
2) DNA has been extracted from a preserved specimen / tissue sample.

[2020-10-15 12:42] #38 closed, assigned to nobody

[2020-10-15 12:58] thomasstjerne commented on #13
@pragermh If I understand you correct, I agree.
Usually I see GenBank accession numbers in the associatedSequences field like this occurrence: https://www.gbif.org/occurrence/2633751103 having https://www.ncbi.nlm.nih.gov/nuccore/MK405372 as associated sequences.
But I reckon this aligns with

Right?

[2020-10-15 14:20] MattBlissett commented on #118
The URL of the document is derived from the name of the repository. It's currently https://docs.gbif-uat.org/publishing-sequence-derived-data/1.0/en/ .  Should it become https://docs.gbif-uat.org/publishing-dna-derived-data/1.0/en/ ?

And the same change for the repository? If so, I will make the change. I don't expect it to break the build, but I can then fix it in case it does.

[2020-10-15 14:31] pragermh commented on #13
Not sure I understand if you understand @thomasstjerne ;-) but what I suggest is:

1) Move 'https://www.ebi.ac.uk/ena/browser/view/SAMEA3724543' (=BioSample at ENA) up from _associatedSequences_ to _materialSampleID_, between 'https://www.ncbi.nlm.nih.gov/biosample/15224856' (= BioSample at NCBI) and 'urn:uuid:a964805b-33c2-439a-beaa-6379ebbfcd03'

Note: This means users will be able to find all _

[2020-10-16 00:22] m-hope commented on #118
My feeling is that, if it's not too much hassle, we should be consistent across all the document (including the URL/repository).

[2020-10-16 09:00] thomasstjerne commented on #118
Thanks @MattBlissett
I renamed the repo and changed the repo path in jenkins.

[2020-10-16 12:24] FFossoy commented on #79
I don't think it is included in the current description, but it would be beneficial if this information is included as part of the sop field.

[2020-10-19 10:56] FFossoy commented on #79
Actuallly, table 5 contains the field "pcr-cond" where thermocycling conditions can be listed. Further details on PCR mix would need to be part of the sop field.

[2020-10-19 11:10] MattBlissett commented on #118
It's done.

@dnoesgaard, would you update the DOI? I think you have the DataCite password etc to hand.  Just change "sequence" to "dna" in the URL.

[2020-10-19 12:02] FFossoy commented on #83
True, normal PCR has been used to determine presence/absence of specific species, but is rarely used today.

[2020-10-19 12:14] dnoesgaard commented on #118
Done.

[2020-10-19 12:15] #118 closed, assigned to nobody

[2020-10-21 09:24] #49 closed, assigned to nobody

[2020-10-27 13:22] #107 closed, assigned to nobody

[2020-10-27 13:27] CecSve commented on #116
This relates to or a duplicate of #12

[2020-10-27 13:27] #116 closed, assigned to nobody

[2020-10-27 13:33] thomasstjerne commented on #115
We should add `votu_class_appr ` `votu_seq_comp_appr ` and `votu_db` fields to recommended fields, as discussed with @FFossoy

[2020-10-27 13:37] CecSve commented on #113
New recommendations on qPCR cover this

[2020-10-27 13:37] #113 closed, assigned to nobody

[2020-10-27 13:44] CecSve commented on #112
Within the sampling range the species was present or leaving traces (DNA). Replace MOST with MANY

[2020-10-27 13:45] #112 closed, assigned to nobody

[2020-10-27 13:50] CecSve commented on #111
The quality of the data is up to the user, e.g. read threshold. Lowest read count to detect occurrence. @thomasstjerne add explanation of the relative sample size (read count is already required upon submission - link to this in the text)

[2020-10-27 14:09] CecSve commented on #106
1st change to gut content instead of stool samples. 2nd concentration are low could be changed to variable DNA concentrations

[2020-10-27 14:10] CecSve commented on #106
If a specific replicate schema is used, it should be part of the metadata

[2020-10-27 14:11] CecSve commented on #106
Not part of version 1, but should be a question to be raised on following versions

[2020-10-27 14:15] CecSve commented on #105
1) add better explanation of sequence based abundance @abissett

[2020-10-27 14:19] CecSve commented on #103
Yes text can be changed to suggestion

[2020-10-27 14:22] CecSve commented on #102
@m-hope replace cryptic with a good synonym, meaning difficult to detect and identify

[2020-10-27 14:22] CecSve commented on #101
Yes @kcopas

[2020-10-27 14:24] CecSve commented on #100
Take colour-blind friendly colours into account when reworking figures

[2020-10-27 14:25] CecSve commented on #99
Add these details to the main text, with better wording @m-hope

[2020-10-27 14:26] CecSve commented on #98
correct to 'genes or non-coding DNA fragments' @kcopas

[2020-10-27 14:28] kcopas commented on #98
@CecSve you all can make these edits yourself—really no sense in tasking me for them.

[2020-10-27 14:28] CecSve commented on #97
Remove 'sequence' from sentence and close

[2020-10-27 14:30] CecSve commented on #95
@dschigel will construct a box

[2020-10-27 14:32] CecSve commented on #94
add ', vizualisations' after browsing and remove refernce to non-existing data use page @kcopas

[2020-10-27 14:35] CecSve commented on #93
@ManonGros add all suggestions

[2020-10-27 14:38] CecSve commented on #92
@thomasstjerne please check with unite people how to interpret OTU stability and adjust text accordingly

[2020-10-27 14:40] CecSve commented on #91
' which is indicative of inter- or intraspecific species variation' @ManonGros

[2020-10-27 14:48] CecSve commented on #88
add 'because sometimes DNA traces can still be detected, although the actual organism is no longer present there' @ManonGros

[2020-10-27 14:53] CecSve commented on #87
No 2: change 'metabarcoding' to 'DNA metabarcoding' - I don't think we need to explain further since it is basically the same processing steps one goes through
No 3: add suggested text @ManonGros

[2020-10-27 14:54] CecSve commented on #86
Not sure where the text edit should be?

[2020-10-27 14:56] CecSve commented on #85
Maybe this one is for you @dschigel ?

[2020-10-27 14:57] dschigel commented on #98
@kcopas we are in the meeting with @CecSve and @thomasstjerne, we do high speed run through the issues to decide what to do with them, but not making direct edits. Could you please indicate who is support for the text editing?

[2020-10-27 14:58] CecSve commented on #84
I do not think we need to add this sentence - to me, it is already stated in the sentence above. I propose closing.

[2020-10-27 15:01] kcopas commented on #98
Sorry, but with respect, it's not clear to me why these tasks require support: the text is there and you are all contributors, so why not make the changes and be done with them? These are minor changes and honestly not worth the back-and-forth.

[2020-10-27 15:03] CecSve commented on #81
@thomasstjerne can you add the transistion and close?

[2020-10-27 15:09] thomasstjerne commented on #81
But if Outputs means downloads or data retrieval, I cant figure out how the UNITE presentation ended up there in the first place - and into which section it would fit??
@dschigel

[2020-10-27 15:14] CecSve commented on #68
Can those two terms maybe be specified? It is unclear what is meant to me as well. @thomasstjerne can you explain it perhaps?

[2020-10-27 15:16] #98 closed, assigned to nobody

[2020-10-27 15:19] CecSve commented on #62
Perhaps relevant links in and outside of the document can be added to the text here for readers who want to know more

[2020-10-27 15:22] CecSve commented on #54
Maybe add a text box with 'DNA barcoding', 'DNA metabarcoding' and 'environmental DNA' explanations?

[2020-10-27 18:47] #106 closed, assigned to nobody

[2020-10-28 09:53] #93 closed, assigned to nobody

[2020-10-28 10:08] #91 closed, assigned to nobody

[2020-10-28 10:11] #88 closed, assigned to nobody

[2020-10-28 10:18] #87 closed, assigned to nobody

[2020-10-30 14:18] dschigel commented on #2
Keeping alphabetic as is + me in closing position.

[2020-10-30 14:18] #2 closed

[2020-10-30 14:30] dschigel commented on #4
@andersfi @FFossoy @pragermh @thomasstjerne @ManonGros please act in the form above

[2020-10-30 14:38] dschigel commented on #10
@FFossoy could you please take a look?

[2020-10-30 14:39] dschigel commented on #51
@thomasstjerne could you please make it one only and close?

[2020-10-30 14:41] dschigel commented on #42
@abissett would you be able to suggest concrete lines / edits based on the thread please?

[2020-10-30 14:42] dschigel commented on #41
I suggest a few lines of caution are added to the corresponding section of introduction @andand @erikrikarddaniel would you like to have a go please?

[2020-10-30 15:23] pragermh commented on #4
Maria Prager, Science for Life Laboratory, Department of Ecology, Environment and Plant Sciences, Stockholm University; Department of Microbiology, Tumor and Cell Biology, Karolinska Institutet
Email ok

[2020-11-01 23:28] m-hope commented on #102
Of the two references to "cryptic" in paragraph 1.3.1, I have replaced the first with "hard to survey" and collapsed two sentences to remove the second.

[2020-11-01 23:28] #102 closed, assigned to nobody

[2020-11-02 00:05] m-hope commented on #99
Added "Additionally, it also provides a mechanism to store occurrence records of undescribed species. When this yet to be described taxon is finally linked to a new Linnaean name, all these linked occurrence records will be immediately available." to paragraph.

[2020-11-02 00:05] #99 closed, assigned to nobody

[2020-11-02 06:45] erikrikarddaniel commented on #41
Yes, I can look at it later today.

/D

Den fre 30 okt. 2020 kl 15:42 skrev dschigel <notifications@github.com>:

[2020-11-02 07:28] andersfi commented on #4
Sorry, not quite sure what to do with [this](https://github.com/gbif/doc-publishing-dna-derived-data/issues/4#issuecomment-719586331 )  . The form at top does not react to my clicking and fumbling.

[2020-11-02 09:07] #115 closed, assigned to thomasstjerne

[2020-11-02 09:17] #23 closed, assigned to nobody

[2020-11-02 09:22] ManonGros commented on #4
I am ok with having my contact shown (I can't edit the issue to check the box either).

[2020-11-02 09:58] FFossoy commented on #4
Frode Fossøy, Norwegian institute for nature research (NINA), P.O. Box 5685 Torgarden, NO-7485 Trondheim, Norway.

[2020-11-03 20:44] erikrikarddaniel commented on #41
I just committed two small additions to the second paragraph of the intro. Feel free to check that and close @dschigel .

[2020-11-04 13:08] dschigel commented on #41
Thanks

[2020-11-04 13:08] #41 closed, assigned to nobody

[2020-11-04 18:56] dschigel commented on #32
to cross-check across whole doc and make everywhere plural, then close the issue

[2020-11-04 18:58] dschigel commented on #9
Comment from @erikrikarddaniel re: all figures
"I was reading around a bit and found the below blog post, that contains very nice figures. They're not exactly the ones we need for the guide, but certain elements could be copied over.
https://data-blog.gbif.org/post/gbif-molecular-data-quality"

[2020-11-04 19:02] dschigel commented on #86
make suggested edit to the appropriate place of par 2 in S 1.3 and close

[2020-11-04 19:03] dschigel commented on #84
I agree with Birgit, we need to add a few words of cautios warming in addition to the present motivating statement. Please add and close

[2020-11-04 19:05] dschigel commented on #85
Yes, I will need to think about it. will take care of. Somehow linked to #30

[2020-11-04 19:07] dschigel commented on #82
Good point. This needs at least i) checking if both m-words are in the glossary @pragermh and ii) adding a few lines to introduction, would you suggest a couple of lines @abissett? Unless we firmly believe that species detection by full genomes is out of scope.

[2020-11-04 19:10] dschigel commented on #81
I would say remove UNITE and BOLD from here, agreed this is wrong place, and add both (separately if needed) as examples under 1.3. We can also discuss this at next Zoom

[2020-11-04 19:11] dschigel commented on #83
Please add a line or two capturing the essence of this thread and close

[2020-11-04 19:17] dschigel commented on #76
This could be added to critical review of the sequence repositories as requested in https://github.com/gbif/doc-publishing-dna-derived-data/issues/37 #37. However, this is the data behavior we want to discourage, sequence data needs to be added to INSDC, and only then resurfaced (repackaged, enforced, better metadata etc.) and indexed elsewhere, including general repo. We need to find good words f

[2020-11-04 19:19] dschigel commented on #74
Desirable for next versions, but unlrealistic for v1. This is a cookbook, not a monography. We have to live with what we have for v1 and do better later.

[2020-11-04 19:19] #74 closed, assigned to nobody

[2020-11-04 19:19] dschigel commented on #73
Change words and tone to address functional and omics approaches.

[2020-11-04 19:20] dschigel commented on #71
I would welcome edits by @erikrikarddaniel @andand

[2020-11-04 19:21] dschigel commented on #69
Needs approval by @erikrikarddaniel and @andand, if ok, edit as requested and close

[2020-11-04 19:23] dschigel commented on #68
add "data" in both cases and close, as this is widespread biodiversity jargon. I see not need to add even to Glossary.

[2020-11-04 19:24] dschigel commented on #66
1 Agreed, needs to be moved
2. Would be nice to develop this as requested, any takers, co-authors?

[2020-11-04 19:26] dschigel commented on #65
This is a very valuable suggestion and needs to be incorporated as suggested.

[2020-11-04 19:27] dschigel commented on #62
1. Fix typo, add linking as suggested
2. Add MIxS to Glossary @pragermh
3. to discuss in Zoom

[2020-11-04 19:28] dschigel commented on #54
As long these are in Glossary and are internally linked, this is sufficient. To check, fix if needed, and close.

[2020-11-04 19:32] dschigel commented on #16
Please fix as suggested by @m-hope in the end and close

[2020-11-04 19:33] dschigel commented on #15
@pragermh please let know if you need help here, it is not fair that you are all alone with the glossary work after volunteering so kindly

[2020-11-04 19:33] dschigel commented on #13
To discuss

[2020-11-04 19:35] dschigel commented on #4
Wrote to Urmas

[2020-11-04 19:51] urmaskoljalg commented on #4
Urmas Kõljalg, Natural History Museum and Botanical Garden, University of Tartu, 46 Vanemuise Street, 51003 Tartu, Estonia.

Happy to have my email included.

[2020-11-04 20:27] erikrikarddaniel commented on #69
Fine with me, but shouldn't we do a new fig. 4? It is just a sketch, never meant to be part of the final publication.

[2020-11-04 20:44] dschigel commented on #69
Yes, all figures to redo, more tomorrow in Zoom.

[2020-11-04 20:45] dschigel commented on #4
All affiliations are now added and permissions in place. Once text is updated, please close.

[2020-11-04 21:04] dschigel commented on #55
improved wording needed?

[2020-11-04 21:07] dschigel commented on #40
technical edits c/o GBIF S

[2020-11-04 21:09] dschigel commented on #36
unlikely BoR will be fixed for v1, but some day it should be.

[2020-11-04 21:12] dschigel commented on #29
No concrete edits seems to be suggested for current version, so closing for now, but remembering to watch MIxS progress for next versions.

[2020-11-04 21:12] #29 closed, assigned to nobody

[2020-11-04 21:12] #26 closed, assigned to nobody

[2020-11-04 21:13] dschigel commented on #24
If this is fixed, great, if not we live with the current Chrome bugs

[2020-11-04 21:13] #24 closed, assigned to nobody

[2020-11-05 06:54] pragermh commented on #15
@kcopas @dschigel I have added all except _sample_, _specimen_ and _occurrence_ which I suspect GBIF and/or museum people may have specific definitions for - so please add.

[2020-11-05 06:56] pragermh commented on #62
@dschigel  MIxS is in there already, but please elaborate at will.

[2020-11-05 07:26] abissett commented on #95
DOI is widely accepted and known, can close without action

[2020-11-05 07:35] andersfi commented on #39
**group3** suggestion: put "Inclusion of all verified amplicon sequence variants (ASVs; Сallahan et al. 2017) is likely to increase identification accuracy and allow for a precise reinterpretation of data." and close issue.

[2020-11-05 07:36] dschigel commented on #105
Add sentence after "(Knudsen et al. 2019)."

[2020-11-05 07:41] dschigel commented on #105
Replace

Confusing and irritating, as noticed by other comments.

[2020-11-05 07:42] abissett commented on #82
Andrew to write a short section on metagenomics,  describing this and stating that this document is based on current practice (barcoding), but that the same general principles around publishing a sequence apply

[2020-11-05 07:42] andersfi commented on #37
This issue points either in direction of a lack of motiviation for sequence data into GBIF (i.e. the ENA/Genbank is not enough), or there is some general warning of ENA/Genbank structure?

@NewBeHenrik - writes a sentence on this to put into the text and e-mail to @thomasstjerne  for inclution into the text and closing of issue..

[2020-11-05 07:44] dschigel commented on #105
Replace "(Knudsen et al. 2019)" with "(Knudsen et al. 2019 and many more studies)

[2020-11-05 07:45] abissett commented on #71
This is the same for all methods (uncertainty) and discussion of the specific uncertainties associated with all methods is beyond the scope of this document.  Current chimera detection methods are well documented and utilized methods should be part of the metadata, as per recommendations throughout

[2020-11-05 07:45] #71 closed, assigned to nobody

[2020-11-05 07:46] dschigel commented on #105
Merge refs for contrasting opinions in one sentence, blend refs @m-hope

[2020-11-05 07:46] dschigel commented on #105
add "primer" to list of biases

[2020-11-05 07:48] dschigel commented on #92
after "stability", add "(versioned, referable, with visible alignment and delimitation)"

[2020-11-05 07:50] andersfi commented on #36
GBIF should have a way to organize/filter/scope datasets based upon the type of data. ALthough some of us wish for a basisOfRecord term like DNA sequence, this can not enter text if not existing in a vocabulary. Issue is hence out of scope for this group.

[2020-11-05 07:51] abissett commented on #66
1.   Move the above paragraph up to the second paragraph of the section

2. Delete the sentence "Note, however, that choice of PCR primers sets taxonomic limits and introduces biases to signals of community compositions and abundances"

[2020-11-05 07:52] dschigel commented on #92
keep as is

[2020-11-05 07:53] thomasstjerne commented on #92
Add reference to UNITE paper

[2020-11-05 07:56] andersfi commented on #35
group3: I not in the guide already add "since BOLD ids are already in the GBIF taxonomic backbone this is a way to enter species without any name into the index. It is hence a technial issue  - unless GBIF will allow indexing from taxonConseptID field and leave scientificName  blank - we need to do this.

[2020-11-05 07:58] erikrikarddaniel commented on #65
I think we already are rather cautious here.

[2020-11-05 07:59] CecSve commented on #105
similar to #65

[2020-11-05 08:06] #92 closed, assigned to thomasstjerne

[2020-11-05 08:08] dschigel commented on #89
Add reference to https://www.gbif.org/standards and close

[2020-11-05 08:08] puh32 commented on #37
Under "Taxonomy of sequences", under sentence "The accuracy and precision of such sequence annotation will depend on the availability of reliable reference databases and libraries across all branches of the tree of life, which in turn will require joint efforts from taxonomists and molecular ecologists.", I propose that we add the following sentence:

"Public sequence databases should always be us

[2020-11-05 08:09] abissett commented on #42
The use of mock communities is likely of utility at the study level, but discussion of it's methodological application is beyond the scope of this work.

[2020-11-05 08:09] #42 closed, assigned to nobody

[2020-11-05 08:12] abissett commented on #10
Add statement saying assay detection limits should be included in metadata

[2020-11-05 08:15] ManonGros commented on #33
Let's add the recordedBy term in the table 2 (2.2.1. Mapping metabarcoding (eDNA) and barcoding data) as a highly recommended term + add a description: "Including information the observer improves the scientific reproducibility (+ reference @puh32)

[2020-11-05 08:20] dschigel commented on #85
1. Add "but refers to documentation that has been incorporated into sequence data generation." in the suggested space.

[2020-11-05 08:21] ManonGros commented on #12
related to https://github.com/gbif/doc-publishing-dna-derived-data/issues/36

[2020-11-05 08:23] ManonGros commented on #11
Could people from these platforms (SE/NO and AU) comment here?

[2020-11-05 08:25] dschigel commented on #81
Move to glossary and close

[2020-11-05 08:39] CecSve commented on #79
If the protocol is published, e.g. through protocols.io, then it would contain information on PCR setup

[2020-11-05 08:43] m-hope commented on #73
Suggest replacing the second paragraph of section 1.6 with:

Species, as described by taxonomists, are central to biology and places taxonomy at the heart of biology. Attempts at characterizing biodiversity, in many cases, will therefore make use of the end products of taxonomic research. However, unlike DNA sequence data, taxonomic outputs may not always be readily amenable to direct algorithmic

[2020-11-05 08:52] puh32 commented on #33
The reference is:

"(Groom et al. 2020)"

Groom Q, Güntsch A, Huybrechts P, Kearney N, Leachman S, Nicolson N, Page RDM, Shorthouse DP, Thessen, AE, Haston E. People are essential to linking biodiversity data. 2020. Database 2020:baaa072 (doi:10.1093/database/baaa072).

[2020-11-05 09:31] #81 closed, assigned to nobody

[2020-11-05 09:33] #103 closed, assigned to nobody

[2020-11-05 09:37] #97 closed, assigned to nobody

[2020-11-05 09:44] #94 closed, assigned to nobody

[2020-11-05 09:46] #37 closed, assigned to nobody

[2020-11-05 09:47] #33 closed, assigned to nobody

[2020-11-05 10:04] #111 closed, assigned to nobody

[2020-11-05 10:05] #86 closed, assigned to nobody

[2020-11-05 10:12] #65 closed, assigned to nobody

[2020-11-05 10:12] #105 closed, assigned to nobody

[2020-11-05 10:13] #95 closed, assigned to nobody

[2020-11-05 10:18] #89 closed, assigned to thomasstjerne, dschigel

[2020-11-05 10:19] #84 closed, assigned to nobody

[2020-11-05 10:20] #83 closed, assigned to nobody

[2020-11-05 10:25] #73 closed, assigned to nobody

[2020-11-05 10:47] #68 closed, assigned to nobody

[2020-11-05 10:56] #66 closed, assigned to nobody

[2020-11-05 11:08] #54 closed, assigned to nobody

[2020-11-05 11:15] #51 closed, assigned to nobody

[2020-11-05 11:27] FFossoy commented on #10
Limit of detection (LOD) and limit of quantification (LOQ) can be calcultated for a specific assay ( https://doi.org/10.1002/edn3.29), but not for each single sample. We could add two new terms for "LOD" and "LOQ" as part of the metadata to state whether these values have been estimated for that specific assay.

[2020-11-05 11:46] ManonGros commented on #32
I think I caught all the singular data but if someone is willing to double check, it would be great! (I can't close this issue for some reason)

[2020-11-05 11:46] #39 closed, assigned to nobody

[2020-11-05 13:25] #32 closed, assigned to nobody

[2020-11-05 13:56] #62 closed, assigned to nobody

[2020-11-05 14:06] thomasstjerne commented on #36
Theres a suggestion here that may cover this:
https://github.com/gbif/registry/issues/247

[2020-11-05 14:42] dschigel commented on #100
Needs to me taken into account when reworking the visuals but I recall GBIF color schemas are already ok in this respect @kcopas @ManonGros

[2020-11-05 14:43] dschigel commented on #77
To cross check all figure numbering and close

[2020-11-05 14:45] dschigel commented on #44
1. Fix spelling 2. Add BOLD as requested 3. Address bi/chimera under #69 and ignore here

[2020-11-05 14:49] dschigel commented on #6
Duplicate of #8

[2020-11-05 22:27] m-hope commented on #73
Reading my suggested comment further, I've condensed and simplified it further to:

Species, as described by taxonomists, are central to biology and attempts at characterizing biodiversity may therefore make use of the end products of taxonomic research. However, unlike DNA sequence data, taxonomic outputs are not always readily amenable to direct algorithmic or computational interpretation: class

[2020-11-06 00:44] abissett commented on #82
Needs to be read Daniel and Frode to ensure I've covered all we discussed.................

Insert the below as 1.3.3

Change the subsequent numbering to allow the insertion

1.3.3. Metagenomic: sequence-derived data
Sequence derived diversity data may also be generated using amplification free metagenomic methods whereby all DNA in a sample is targeted for sequencing (add this cite here:  Tyson,

[2020-11-06 03:21] m-hope commented on #105
Suggest we replace the whole paragraph with something like:

While some studies show a relationship between the amount of DNA for a given species in an environmental sample and the biomass of that species in the environment, there are other studies showing little correlation between environmental DNA quantity and estimated population density. (Takahara et al. 2012; Thomsen et al. 2012; Andersen et

[2020-11-06 03:24] m-hope commented on #65
See issue #105 for a suggested replacement paragraph.

[2020-11-06 06:22] erikrikarddaniel commented on #82
Fine, with a two minor comments.
1. I'd prefer "MAGs", i.e. plural s not capitalised, though I don't know how the rest of the document looks.
2. Replace the comma after "While we recognise" with a "that"

[2020-11-06 09:52] dschigel commented on #82
@FFossoy please take a look. Hope after Daniel's and maybe your edits this can be tagged do&close, processed and closed.

[2020-11-06 10:25] #35 closed, assigned to thomasstjerne

[2020-11-06 10:29] FFossoy commented on #82
All fine with me. @abissett can tag this as do&close.

[2020-11-06 10:49] thomasstjerne commented on #82
Great - I will "do and close" then

[2020-11-06 11:04] #82 closed, assigned to abissett

[2020-11-06 11:10] dschigel commented on #73
- I would say that all processes we deal with here are human driven, but classical taxonomy largely is oriented to human "consumer" and is not very machine - readable yet. I suggest replace human driven with something that reflects human "consumer".
- Also I would remove / replace "sequence" with DNA, as we deal with qPCR too.
- Maybe add a line noting the functional and omics approaches are not d

[2020-11-10 15:24] ManonGros commented on #101
Duplicate of: https://github.com/gbif/doc-publishing-dna-derived-data/issues/31

[2020-11-10 15:24] #101 closed, assigned to nobody

[2020-11-11 12:42] ManonGros commented on #100
Hopefully work on https://github.com/gbif/doc-publishing-dna-derived-data/blob/1.0/img/web/figure-01.png addresses these issues.

[2020-11-11 12:42] #100 closed, assigned to nobody

[2020-11-11 12:42] ManonGros commented on #80
Work on https://github.com/gbif/doc-publishing-dna-derived-data/blob/1.0/img/web/figure-01.png tries to address these issues.

[2020-11-11 12:42] #80 closed, assigned to nobody

[2020-11-11 12:43] ManonGros commented on #69
Works on https://github.com/gbif/doc-publishing-dna-derived-data/blob/1.0/img/web/figure-04.png addresses issues.

[2020-11-11 12:43] #69 closed, assigned to nobody

[2020-11-11 12:44] ManonGros commented on #44
Work on https://github.com/gbif/doc-publishing-dna-derived-data/blob/1.0/img/web/figure-01.png and https://github.com/gbif/doc-publishing-dna-derived-data/blob/1.0/img/web/figure-04.png addresses issues.

[2020-11-11 12:44] #44 closed, assigned to nobody

[2020-11-11 12:49] ManonGros commented on #8
Could you check if the new figure addresses these comments: https://github.com/gbif/doc-publishing-dna-derived-data/blob/1.0/img/web/figure-01.png?

[2020-11-11 12:51] ManonGros commented on #5
Addressed in the rework of figure 1: https://github.com/gbif/doc-publishing-dna-derived-data/blob/1.0/img/web/figure-04.png

[2020-11-11 12:51] #5 closed

[2020-11-11 12:55] erikrikarddaniel commented on #8
Looks great!

[2020-11-16 02:39] m-hope commented on #73
Ammended as per above comments:
Species, as described by taxonomists, are central to biology and attempts at characterizing biodiversity may therefore make use of the end products of taxonomic research. However, unlike DNA based data, taxonomic outputs are not always readily amenable to direct algorithmic or computational interpretation: classical taxonomy is a 'human-oriented' process which inclu

[2020-11-17 17:17] CecSve opened #131 "Section 2.2 'basisOfRecord' in table 2 and 4"
In the description fields of basisOfRecord, the links to the different categories is not up to date and need to match the revision. E.g. in Table 4: Recommended fields for Occurrence core for ddPCR/qPCR data, the text should be changed to (changes in bold):

The specific nature of the data record - a subtype of the dcterms:type. For DNA-derived occurrences (see Category **I and Category III**), us

[2020-11-17 19:35] dschigel commented on #131
It is a pity that he have no chance to review bOR before v1 of the guide is out. Would it be more honest to use Unknown for the time being? DNA related evidence categorization is not adequate yet, and even though I agree we sort of have nearest-working terms for I-III, but for qPCR detection the nearest I can imagine is human or machine observation, as PCR detection is fundamentally not so differe

[2020-11-18 08:40] CecSve commented on #131
It looks like I accidentally stumbled upon a 'basisOfRecords' issue - my edit was just to make sure the numbering was correct, but I do see the point in having a more fitting 'basisOfRecord' or 'category'. For example, my data doesn't fit well in this categorization either since it is based on non-destructive extraction of bulk samples where sample vouchers will be integrated into the museum colle

[2020-11-18 11:01] dschigel commented on #131
Thanks for clarification. Let's separate two things

1. Fix the numbers, could please clarify in a "change from: to:" way and tag it do & close?
2. Please take a look on the list of thoughts linked above re: bOR

[2020-11-24 07:52] dschigel commented on #85
agreed that guide works as is

[2020-11-24 07:52] #85 closed, assigned to nobody

[2020-11-24 07:54] dschigel commented on #79
And in the end of 2.1 the guide says "However, if a structured and possibly more detailed method description is already published somewhere (e.g. at protocols.io), it is straightforward to provide a link through the MIxS SOP field (see §2.2.1)."

[2020-11-24 08:00] #79 closed, assigned to nobody

[2020-11-24 08:12] pragermh commented on #13
So, after today's discussion, could we perhaps:
1) Move 'https://www.ebi.ac.uk/ena/browser/view/SAMEA3724543' (=BioSample at ENA) up from associatedSequences to materialSampleID, to between 'https://www.ncbi.nlm.nih.gov/biosample/15224856' (= BioSample at NCBI) and 'urn:uuid:a964805b-33c2-439a-beaa-6379ebbfcd03'
2) Clarify that associatedSequences can be a list of links to raw barcode reads and/or

[2020-11-24 12:50] dschigel opened #132 "Only keep a master version as a public link"
@thomasstjerne is there a way to restrict access to https://docs.gbif-uat.org/publishing-sequence-derived-data/1.0/en/ to authors only (or redirect to the master version, as the link was used in archived presentations and abstracts), and only keep https://docs.gbif-uat.org/publishing-dna-derived-data/1.0/en/ as openly discoverable?

[2020-11-24 12:52] dschigel commented on #9
@ManonGros do you think that internal references to chapters will help here, too, or is it merely an illustration of the process steps and flow? If the latter, this can be closed as-is.

[2020-11-24 12:53] #8 closed

[2020-11-24 12:57] dschigel commented on #7
please redraw @ManonGros-style and correct typo. No opinion on vertical or horizontal. Should fit into a ppt slide for teaching, I think. link above should give access to editable ppt original, otherwise contact Anders F.

[2020-11-24 12:58] ManonGros commented on #9
Perhaps I misunderstood but I don't think that was the original intent of the figure.
What do you think @erikrikarddaniel?

[2020-11-24 12:59] dschigel commented on #131
Let's only review numeration and references, and not enter bOR swamps for v1

[2020-11-24 14:12] dschigel commented on #9
I re-read the text around the Fig 4. and I think it should stay as is. Figure 1 is doing the chapter navigation job quite nicely, so unless there is a strong alternative view, I propose we keep Fig. 4 as is, i.e. light and clear. If no objection @erikrikarddaniel, shall we close?

[2020-11-24 14:34] erikrikarddaniel commented on #9
No objections from me, I close.

[2020-11-24 14:34] #9 closed

[2020-12-01 11:59] kcopas commented on #132
As a matter of procedure, when the first-final version of the document is published, we create a release that resides at a non-UAT address (in this case, https://docs.gbif.org/publishing-sequence-derived-data/1.0/en/) and redirect the DOI. No additional steps required

[2020-12-01 11:59] #132 closed, assigned to nobody

[2020-12-03 03:22] m-hope commented on #11
I don't think we have the time to address this issue given we want to release the guidelines now.  And I'm not sure it is immediately relevant anyway.  These guidelines are a first cut at defining what fields we want providers to use to provide sufficient metadata for their DNA derived data to be useful in biodiversty data platforms.  What resolution the "occurence" data is inferred at (ie: at a t

[2020-12-08 08:24] CecSve commented on #76
@dschigel do you know which of the INSDC databases to submit to if you have metabarcoding data? As Izinger mentions, I can't see which database works with 'many-samples-per-library' and it is difficult to encourage submission of data that is in practice not feasible...

[2020-12-08 08:36] dschigel commented on #76
I used https://www.ncbi.nlm.nih.gov/sra and did not hear that much have changed in that respect. For Pensoft journals, including MBMG, submission instructions for sequence data: https://riojournal.com/article/12431/instance/3566238/

A quick check of instructions to author of Molecular Ecology returns a slightly more compact version of the same advice:

"Sequence Data
Nucleotide sequence data can

[2020-12-08 09:40] CecSve commented on #55
Based on the above suggestion, could we add the extension terms to table 2?

Field name | Examples | Description | Required
-- | -- | -- | --
[relationshipOfResource ](https://dwc.tdwg.org/list/#dwc_relationshipOfResource)| parasite of | Support   for generic relationships between resources (in Darwin Core). Can be used to   describe a relationship (relationshipOfResource) between a related resour

[2020-12-08 10:09] CecSve commented on #76
Great - I was about to suggest SRA but since I haven't tried to submit my data yet I didn't want to encourage to use that database. Then I think the last paragraph in 1.4 is sufficient, but perhaps add the Pensoft submission instructions since they give a nice overview e.g. for early-career scientists? I suggest editing the final paragraph in section 1.4 to this (bold = change):

"Note that most h

[2020-12-08 10:26] dschigel commented on #76
Looks good, a few small edits to your version:

- remove "most"
- add DDBJ after ENA; as three pillars of INSDC are equal and Japanese mirror should not be left unmentioned.
- This topic -> The sequence archival topic
- add ref to Pene**v** et al. ref to the list of guide's reference

[2020-12-08 12:50] pragermh opened #133 "2.2.1. Mapping metabarcoding (eDNA) and barcoding data - Table 3"
Specifying ref db:s and algorithms is a good idea, but:

1) the terms _UViGs_ and _vOTU_ in field names _votu_class_appr_, _votu_seq_comp_appr_, _votu_db_ refer to Uncultivated _Virus_ _Genome_ (MIUViG) and _virus_ Operational Taxonomic Units, so perhaps a bit weird to recommend for describing sequence clustering in general? At least without commenting on this.

2) makes identificationRemarks (as

[2020-12-08 18:28] dschigel commented on #30
I suggest we follow Corinne's recommendation above, I have exactly the same view on the matter: yes we all are aware, yes DSI is a real concern, but this is a data mapping and data publishing guide, and the application of it would depend on the local and national situation. Unless anybody objects, I suggest we mark this do & close meaning that Corinne's edits are accepted and we keep this section

[2020-12-08 18:30] dschigel commented on #12
Nothing can be done for the current version IMHO. I suggest we close for now, and then follow TDWG approved standard
s'

[2020-12-08 18:31] dschigel commented on #11
Agreed, can be closed or parked for later versions.

[2020-12-08 18:36] dschigel commented on #10
Please turn this discussion into a copy-pastable fragment and mark do&close thereafer

[2020-12-08 18:48] dschigel commented on #7
All figures needs to be checked including captions. Figure 2 needs rework incl. correcting typo in "reff" and removing old caption. clearer - vector? - graphic would help, too.

[2020-12-08 18:49] dschigel commented on #6
addressed in #6

[2020-12-08 18:49] #6 closed

[2020-12-09 07:13] dschigel commented on #133
for TDWG, perhaps get rid of "v" in the three fields in the end of Table 3. To discuss with MIxS group. We need terms that works for all life @thomasstjerne

[2020-12-09 07:26] dschigel commented on #55
To discuss with TDWG. Alternative is to simply use associatedOccurrence (like ALA says @m-hope) Resource relationships are not handled by GBIF and ALA at the moment. https://dwc.tdwg.org/terms/#resourcerelationship is not DNA specific. GGBN and BIOSCAN. Mention in the text before the table with the reference to the TDWG list.

[2020-12-09 07:44] #12 closed

[2020-12-09 07:48] #11 closed

[2020-12-09 07:59] dschigel commented on #10
Add LOD and LOQ to https://docs.gbif-uat.org/publishing-dna-derived-data/1.0/en/#mapping-ddpcr-qpcr-data table, address the dependency on absence data and completeness of sampling metadata, see also https://www.biorxiv.org/node/1270607.abstract. could you @FFossoy @thomasstjerne

[2020-12-10 08:50] #10 closed

[2020-12-10 13:06] #131 closed, assigned to nobody

[2020-12-10 13:23] #55 closed, assigned to nobody

[2020-12-10 15:32] #77 closed, assigned to nobody

[2020-12-10 18:24] dschigel opened #134 "Thank commenters"
We need to thank all commenters who made at least one GH comment, plus at least two who send their comments as marked PDFs (grrr). This requires screening all issues including closed ones to form a simple alphabetic enumeration after some nice words in the end of https://docs.gbif-uat.org/publishing-dna-derived-data/1.0/en/#contributors

[2020-12-14 08:43] #76 closed, assigned to nobody

[2020-12-14 08:57] #13 closed

[2020-12-14 09:05] thomasstjerne commented on #133
We discussed this on the meeting on Dec 9th 2020 an suspect the field names may be a legacy from early MIxS (when it was targeted Vira)
However, the example values given for `votu_db ` are "NCBI Viral RefSeq;83", "UNITE;8.2"
This seems to indicate the field is also used for non-viral OTUs as well (as UNITE 8.2 is mainly for Fungi and Plants).

[2021-01-13 10:58] pieterprovoost commented on #35
Is indexing from `taxonConceptID` still on the table, if it's the more appropriate term? I think there's value in providing a (albeit less specific) Linnaean name along with the OTU identifier. Also, we are trying to come up with recommendations for [image based OTUs](https://journals.plos.org/plosone/article?id=10.1371/journal.pone.0218904) (which are not part of the GBIF backbone), and having a

[2021-01-18 11:11] #31 closed, assigned to nobody

[2021-01-18 13:59] thomasstjerne commented on #30
**I am afraid the text has evolved since this comment. This the current version of the paragraphs:**

This guide sets out the ways in which DNA-derived occurrence data should be reported for standardized inclusion in GBIF and other biodiversity data platforms. It does not express any view on the issue of access and benefit sharing for digital sequence information, the subject of extensive discussi

[2021-01-18 14:12] dschigel commented on #30
I think is is all covered now. One might like to restate in the end, that

With these benefits in mind, it is up to the data publisher to take into account the local and national circumstances when deciding on preferred mapping and on the level of ASV openness.

@timhirsch this is reflected in the [Table 3](https://docs.gbif-uat.org/publishing-dna-derived-data/1.0/en/#mapping-metabarcoding-edna-an

[2021-01-18 14:13] timhirsch commented on #30
fwiw personally I feel the text is fine as it is. Since the DSI issue is fast-moving there does not seem much value in pointing to specific analysis other than a general pointer towards the CBD. The latest discussion on this point suggests that the interpretation of DSI will be clearly demarcated to the sequence data itself  rather than derived or contextual data, so the best approach seems to be

[2021-01-18 14:15] dschigel commented on #30
Thanks @timhirsch see one suggestion above

[2021-01-18 14:31] thomasstjerne commented on #35
We could probably add taxonConceptID to the index. Another option would be to simply use your OTUs as taxonIDs, as GBIF already indexes the publishers provided taxonIDs, e.g. https://www.gbif.org/occurrence/search?advanced=1&taxon_id=urn:lsid:dyntaxa.se:Taxon:100045&occurrence_status=present

But it is then still `scientificName` that will be used to place the data in the taxonomic hierarchy.

[2021-01-18 14:38] dschigel commented on #35
I am not sure we can force the nearest Latin parent (which is used for linking OTUs to the rest of the tree) into the scientific name. As we call OTUs from the extrnal clusterers, such as UNITE, we have to respect that a particular OTU is called by the OTU provider "an OTU called SH1234567", not OTU with Taxon ID SH1234567 but-we-all-know is from Tomentella genus, so let's show it with scientificN

[2021-01-18 15:17] thomasstjerne commented on #35
@pieterprovoost suggests to provide a scientificName along with an OTU identifier:

This is already possible, through taxonID. But this doesn´t mean that the GBIF backbone "understands" the taxonomy of the image based OTUs, just that occurrence data can be retrieved by these, similar to https://www.gbif.org/occurrence/search?advanced=1&taxon_id=urn:lsid:dyntaxa.se:Taxon:100045&occurrence_status=pr

[2021-01-19 11:10] #30 closed, assigned to nobody

[2021-01-20 16:55] pieterprovoost commented on #35
But the guidelines recommend populating `taxonID` with a hash of the sequence. I understand that the current solution works fine from the GBIF technical perspective, but typically an OBIS data provider will want to provide OTUs as well as WoRMS LSIDs resulting from their own taxonomic assignment. I think the guidelines in their current shape will create some confusion in such cases. I'm not sure h

[2021-03-05 15:41] tucotuco opened #135 "Typo in Figure 1"
In the Chapter 2 section there is text that says, "Mapping occurrence data to biodiversity tranfert standards".

An aside, that Figure is full of text, which makes it obligatory to redo entirely for other languages than English and not amenable for translations. Consider revision.

[2021-03-05 15:42] tucotuco commented on #135
Probably related to https://github.com/gbif/doc-publishing-dna-derived-data/issues/7.

[2021-05-11 09:44] dschigel commented on #15
It would be very nice to get rid of remaining asdf's. Note that sample and specimen are actually very difficult ones to give universal definitions for; if in doubt give a domain specific one and make a note on that. E.g. in eDNA monitoring, a sample is ....

[2021-05-18 10:57] MattBlissett commented on #7
I think this is now [Figure 1](https://docs.gbif-uat.org/publishing-dna-derived-data/1.0/en/#figure-workflow).

A vertical diagram will work better when shown on a phone, although I could see if it's possible to have a diagram that doesn't squash when shown on a phone, but can be scrolled left/right to view.

An example of a translatable SVG is [here, in English](https://docs.gbif-uat.org/effectiv

[2021-05-18 11:44] #40 closed, assigned to kcopas

[2021-05-18 12:46] ManonGros commented on #7
The current figure 1 is a rework of [the original one](https://github.com/gbif/doc-publishing-dna-derived-data/blob/ea360d8856b4b532ad8cc30b6131ac9b9f2db3dd/img/web/figure-01.png).

I didn't consider phone scrolling nor translation when I re-did this figure.  I wouldn't really know how to organise it vertically.

I originally used draw.io to be able to reuse the graphics from [figure 2](https://do

[2021-05-18 14:23] #135 closed, assigned to nobody

[2021-05-18 14:25] MattBlissett commented on #7
It says 'diagrams.net (formerly draw.io) is a free...' and didn't ask for a trial or anything.

I've changed the spellings, and exported as SVG,  but nothing more.

[2021-05-18 14:45] ManonGros commented on #7
Thanks Matt! It looks like I mistook [this](https://drawio-app.co) for draw.io (but my browser doesn't allow me to use the diagram with diagrams.net, I will take a look later)

[2021-05-19 13:43] timrobertson100 commented on #134
We have compiled this with the exception of @metabaRfactory

@metabaRfactory - can you please give us a name we can use instead of a GH handle?

[2021-05-19 13:48] metabaRfactory commented on #134
Hi, I'm Lucie Zinger. I may I have commented with my personal account too. Thanks to you guys for this initiative.

[2021-05-19 13:49] timrobertson100 commented on #134
Thank you Lucie. We had an idea it would be you but wanted to check

[2021-05-19 13:55] #134 closed, assigned to nobody

[2021-05-19 14:30] thomasstjerne commented on #133
I have opened an [issue](https://github.com/GenomicsStandardsConsortium/mixs/issues/140) for the GSC asking to remove taxonomic scope for `votu_class_appr`, `votu_seq_comp_appr` and `votu_db`.

[2021-05-19 14:30] #133 closed, assigned to nobody

[2021-05-19 15:25] #16 closed, assigned to nobody

[2021-05-19 15:36] #15 closed

[2021-06-22 10:30] timrobertson100 commented on #36
A very lively discussion on this topic is in [ALA](https://github.com/AtlasOfLivingAustralia/la-pipelines/issues/397) and @qgroom and myself, are on the newly forming TDWG [Material Sample task group](https://github.com/tdwg/dwc/issues/358) where we can raise this issue.

@Quentin, if you agree that the TDWG TG is the best place to tackle this, can you please close this issue? I'm not sure what mo

[2021-06-22 11:01] qgroom commented on #36
Yes, indeed a task group will likely be created on basisOfRecord and this issue can be closed in favor of that.
Quentin

[2021-06-22 11:01] #36 closed, assigned to nobody

[2021-06-23 09:56] ManonGros commented on #7
Thanks to Matt, the typo is corrected. I won't be reworking the figures for this version of the guide, I don't think the orientation is critical.

[2021-06-23 09:56] #7 closed

[2021-07-01 16:54] dschigel opened #136 "Update DNA extention links to the latest version"
Currently DNA term links from Table 3 https://docs.gbif-uat.org/publishing-dna-derived-data/1.0/en/#mapping-metabarcoding-edna-and-barcoding-data go to 15 May version, whereas later one exists https://rs.gbif.org/sandbox/extension/dna_derived_data_2021-05-28.xml

[2021-07-01 16:56] thomasstjerne commented on #136
We are updating the links to point to prod, once the extension is released.

[2021-07-01 16:57] #136 closed, assigned to thomasstjerne

[2021-07-06 06:47] ManonGros opened #137 "text missing in PDF version of Figure 1"
It seems like the font size is kept but he text is cut.

<img width="997" alt="Screenshot 2021-07-06 at 08 42 16" src="https://user-images.githubusercontent.com/7677271/124554697-87084b00-de36-11eb-9437-038bfe232392.png">

@MattBlissett Do you have any advice on how to fix that? Do you think this is because of the SVG format? Should we use PNG instead?

[2021-07-06 08:11] ManonGros opened #138 "Add description to "eventDate" 2.2.1. Mapping metabarcoding (eDNA) and barcoding data"
It would be good to remind users that the eventDate should be formatted with the ISO format. I suggest at least putting the link to the Darwin Core definition: https://dwc.tdwg.org/terms/#dwc:eventDate

[2021-07-06 08:15] ManonGros opened #139 "PDF Version shows page break between table title and table"
I originally missed the title and though I was still looking at the Core terms. Perhaps other readers might be confused as well:
<img width="1411" alt="Screenshot 2021-07-06 at 10 13 40" src="https://user-images.githubusercontent.com/7677271/124566053-fa17be80-de42-11eb-8106-4f25c608caec.png">

Is there a way to make sure that the title and start of the table are on the same page?

[2021-07-06 08:18] ManonGros commented on #138
Also in "2.2.2. Mapping ddPCR / qPCR data"

[2021-07-06 11:01] MattBlissett opened #140 "Incomplete text on figure 5 caption"
https://docs.gbif-uat.org/publishing-dna-derived-data/1.0/en/#figure-dwca-ipt

The figure caption says "Zoom in of DwC-A / IPT from figure ? in chapter 2.4".  `?` is clearly missing, and I don't know what chapter 2.4 refers to.

[2021-07-06 11:14] MattBlissett commented on #137
I've used a PNG rather than an SVG in the PDF output.

I thought it would be possible to embed a PDF export of the diagram, but this only seems possible when the image takes up a whole page.

I've put the original drawing.net diagrams I had under img/_source.

[2021-07-06 11:14] #137 closed, assigned to nobody

[2021-07-06 11:17] #139 closed, assigned to nobody

[2021-07-06 11:19] MattBlissett commented on #138
The term names themselves are links (with `term:dwc[eventDate]`), although I think a reminder about the ISO format is still useful.

[2021-07-06 19:31] dschigel opened #141 "Freeze Figure 1 visual so text does not goes funny in PDF"
in this [section](https://docs.gbif-uat.org/publishing-dna-derived-data/1.0/en/#target-audiences)

[2021-07-06 19:32] dschigel opened #142 "Link Glossary"
make "Glossary" in [this](https://docs.gbif-uat.org/publishing-dna-derived-data/1.0/en/#introduction-to-dna-derived-occurrence-data) section work as a hyperlink to where Glossary is.

[2021-07-06 19:37] dschigel opened #143 "Many references missing from the tail list"
Including in e.g. in [this](https://docs.gbif-uat.org/publishing-dna-derived-data/1.0/en/#dna-metabarcoding-sequence-derived-data) section.

Suggested action: cross-check of all references in the doc required: all bibliographic references in the text should be in the reference list, which should not have any references which are not found in the text.

[2021-07-06 19:43] dschigel opened #144 "Tidy up new reference"
Please help to tidy up the new reference in [this](https://docs.gbif-uat.org/publishing-dna-derived-data/1.0/en/#category-ii) section, the Guelf one, to match the style of the rest of doc.

[2021-07-06 19:46] dschigel commented on #144
@ManonGros as discussed if you see a good please in 1, please add a similar line & ref also there to compensate for shallow coverage of species by species barcoding.

[2021-07-06 19:53] dschigel opened #145 "Check all links"
One typical check we use to do before releasing reports etc is to check for dead links. Is there a programmatic way to detect dead links across whole doc? It would be nice to run it as a standard pre-release test. Sorry if I am suggesting something that is routine already, learning by doing here.

[2021-07-06 19:53] dschigel commented on #140
Fixed

[2021-07-06 19:53] #140 closed, assigned to nobody

[2021-07-06 19:54] dschigel commented on #138
I see @ManonGros implemented this

[2021-07-06 19:54] #138 closed, assigned to nobody

[2021-07-06 21:19] timrobertson100 commented on #145
At least 2 dead links exist according to this tool

![D44E58EC-59BC-4FB6-8356-B59DCD922E64](https://user-images.githubusercontent.com/237221/124667991-7dbbc480-deb0-11eb-9554-943f5cd84fc7.png)

[2021-07-07 06:39] ManonGros commented on #141
I think Matt fixed this issue here: https://github.com/gbif/doc-publishing-dna-derived-data/issues/137

[2021-07-07 07:23] timrobertson100 commented on #145
The two links identified above are now corrected

[2021-07-07 07:42] #141 closed, assigned to nobody

[2021-07-07 07:46] dschigel commented on #145
Thanks @timrobertson100 I guess automatic screening for dead links and correcting them is sufficient for now. Any further discoveries can be fixed on the fly.

[2021-07-07 07:46] #145 closed, assigned to nobody

[2021-07-07 07:55] dschigel commented on #143
As discussed in Skype with @kcopas, I suggest we follow the basic principle that simple hyperlinks from the text do not require addition to the ref list. However, if the reference looks like bibliographic, or the link target is as doc with ISSN / ISBN, an addition is needed.

Example where no new reference needed in the tail list:

Furthermore, some fields from the GGBN standard and fields from th

[2021-07-07 08:23] ManonGros commented on #142
Looks like the glossary is now linked.

[2021-07-07 08:23] #142 closed, assigned to nobody

[2021-07-07 08:35] ManonGros commented on #144
Thanks @dschigel could you check that this is ok now?

[2021-07-07 09:24] dschigel commented on #144
yes

[2021-07-07 09:24] #144 closed, assigned to nobody

[2021-07-07 09:25] dschigel commented on #143
Will do manual text to list check to start with

[2021-07-07 11:13] dschigel commented on #143
**To add to the reference list**, respecting the target format and ordering (list below is not sorted)

- [x] - https://doi.org/10.1093/nar/gkj157
- [x] - http://dx.doi.org/10.1111/j.1471-8286.2007.01678.x
- [x] - https://doi.org/10.1016/j.gecco.2019.e00547
- [x] - https://doi.org/10.1111/eva.12882
- [x] - https://doi.org/10.1373/clinchem.2008.112797
- [x] - https://doi.org/10.1373/clinchem.2013.2

[2021-07-07 12:47] thomasstjerne commented on #143
Most of the references in the numbered list are from this sentence where they are mentioned by the name of the tool/algorithm (hyperlinked to the DOI):

1 - QIIME2
3 - DADA2
4 - Mothur
5 - USEARCH
6 - PROTAX
7 - LULU
8 - SWARM

Ref nr 2 on the list is mentioned in the sentence (as Callahan et al. 2017):

So please don´t remove those

[2021-07-07 13:04] dschigel commented on #143
@thomasstjerne I agree to keep; each of them would need a bibliographic reference, not only a hyperlink - this is breaking the bibliographic standard. In my opinion it is ok to simply link out to a webpage, but it is no ok to omit a bibliographic reference when i) paper is found on the list but there is no obvious reference in the text and ii) other papers are referred to correctly. I can fix this

[2021-07-07 16:40] dschigel commented on #143
Added missing references to the text, now every ref in the list has at least one ref from the text

[2021-07-07 17:44] dschigel commented on #143
Added missing references to the list and fixed most horrible biobliographic formatting issues. A chance I overlooked some commas and spaces, to fix on the go.

[2021-07-07 17:44] #143 closed, assigned to dschigel

[2021-09-16 21:21] AbbyBenson opened #146 "Add occurrenceID to the recommended fields table for occurrence core"
In the recommended fields for the occurrence core in [the guide](https://docs.gbif.org/publishing-dna-derived-data/1.0/en/#mapping-metabarcoding-edna-and-barcoding-data), `occurrenceID` is missing.

[2021-09-21 13:14] ManonGros commented on #146
Good point, I think it was simply forgotten. @thomasstjerne @dschigel do you think it would be ok to add the occurrenceID field in the table for recommended occurrence core terms? Or should we consult with the authors first?

[2021-09-21 13:17] dschigel commented on #146
Let's check with @thomasstjerne and @pragermh but not need to reopen with all authors. If restoration of he term is confirm just bring it back in. I too think it was an overlook. Thanks for careful reading @albenson-usgs !

[2021-09-21 13:40] pragermh commented on #146
I think it should be fine to just add.

[2021-09-22 06:37] andand opened #147 "Add field for denoising method?"
Sorry for bringing this up very late, and we may have discussed this during the writing, but now that I'm in the process of submitting metabarcoding data, it becomes obvious that a field specifying sequence denoising method is missing. Not only in the guide but also in the DNA derived data extension. Since denoising/generating ASVs is widely used in metabarcoding, and is also well described in the

[2021-09-22 07:07] andand opened #148 "Make Descriptions of fields related to OTUs more general and applicable also to metabarcoding data"
The "otu_class_appr" and "otu_db" fields both seem useful for metabarcoding data (unless denoising/ASV generation was applied). However their descriptions are tailored to (viral)genomes. I suggest we make them more general, e.g.:

"otu_class_appr" : [Description] Approach and threshold used when assigning sequences or genomes to reference clusters.
"otu_db" : [Description] Reference database (i.e.

[2021-09-23 07:24] CecSve commented on #147
I also struggled with reporting on the ASV processing and think it can lead to unstandardised reporting of the bioinformatics used, e.g. so far I have used both occurrence core and the DNA-derived extension to register my methods ('identification'-fields and 'chimera_check') (I have not published the dataset yet).

I support the idea of a new term 'denoising_appr' and perhaps the description also

[2021-09-24 08:28] ManonGros commented on #146
I added the occurrenceID to the table, @thomasstjerne do I need to do anything else for it to appear in the guide?

[2021-09-30 12:22] dschigel opened #149 ""Other Formats" in TOC"
Just an observation when taking a screenshot for the GB28 slides. Text "Other formats" is for some reason in huge font, making a false a strange appearance as if it is a some sort of subtitle, GBIF: Other Formats (with both Words in Capital). Can GBIF template be updated so it is same text size as clickable PDF just below, or remove it altogether as blue PDF is self explanatory? A tiny visual obs.

[2021-10-07 12:21] thomasstjerne commented on #148
@andand These terms are based on the MIxS standard, I suggest they should be addressed here: https://github.com/GenomicsStandardsConsortium/mixs/issues/140

[2021-10-07 13:42] andand commented on #148
That issue is closed @thomasstjerne, but maybe you mean I should post a new issue here:
https://github.com/GenomicsStandardsConsortium/mixs/issues

[2021-10-07 13:44] thomasstjerne commented on #148
Yes - I think so, and add maybe a link to the closed issue for context.

[2021-10-07 14:01] andand commented on #148
Reading the closed issue more carefully I now see that "Yes all 3 MIXS ID (term names, structured comment names, and definitions) will be updated in the v6 update coming soon. Thanks." so then it should be fine after the v6 update @thomasstjerne

[2021-11-22 15:07] dschigel opened #151 "Update ENA lines in the closing paragraph"
At some point in 2022, update the ENA related lines here to refelect new requirement at the INSDC side when implementation of spatiotemporal requirements based on https://www.insdc.org/spatio-temporal-annotation-policy-18-11-2021 is clear. @guycochrane I am just parking the link here for the future updates of the DNA guide, following the progress & news at ENA.

[2021-12-03 08:39] dschigel opened #152 "New ref for DNA intro"
Very clear language of explanation in https://ab.pensoft.net/article/68634, thanks @kcopas. We may consider adding a ref to the intro section. If the data publishing guide it used one of the data that already exist / already generated, this may be enough.

Browsing this new book, and having the course needs in mind, we may consider adding a section on the reverse planning from the question to anal

[2021-12-03 08:44] dschigel opened #153 "OBIS written section for the next version"
via @saarasuominen, possibly for https://docs.gbif.org/publishing-dna-derived-data/1.0/en/#introduction-2
[Gen_guidelines_OBIS_paragraph.docx](https://github.com/gbif/doc-publishing-dna-derived-data/files/7647952/Gen_guidelines_OBIS_paragraph.docx)

[2022-04-25 13:17] CecSve opened #161 "Practical examples on how to map data"
It would be great if we could include practical data mapping examples from our community in a later version, e.g. in the different [category sections](https://docs.gbif.org/publishing-dna-derived-data/1.0/en/#data-packaging-and-mapping).

For example (although not DNA based), something similar to this [blog-post from Living Norway](https://livingnorway.netlify.app/posts/butterflies/) and even an a

[2022-06-08 08:35] CecSve opened #162 "Incorportation of control data"
Based on https://github.com/iobis/Project-team-Genetic-Data/issues/8.

We currently do not have any recommendations as to how to treat controls in the publication process. It should be possible to report sequences in blank or positives, but it should also be very clear to data users that the 'occurrences' are found in laboratory controls! E.g, we should avoid adding location of the lab or some oth

[2022-06-08 08:39] CecSve commented on #162
@jenast do you include controls when you publish metabarcoding data from the Malaise traps to GBIF?

[2022-06-08 19:10] dschigel commented on #162
True, we don't yet and we need to consider carefully if we should. There are different tasks mixed here: to report your study procedures as accurantely as possible and to report evidence of species presence / absence / abundance in nature. Controls are only part of the former, not of the latter. In a way this information is as much metadata as e.g. pcr details or primer: it helps to figure out how

[2022-06-09 10:45] CecSve commented on #162
Yes, I agree it should not be mixed with field detections but the way controls are dealt with may vary quite a bit between studies and it would be great if we could capture that variation in a meaningful way.

Just on top of my head, I can think of three control scenarios, however maybe more exist:

- **Extraction blank** (processed under same conditions as source material, but should contain no s

[2022-06-30 06:34] ckotwn opened #165 "(ref) in §1.6 about md5"
There is a notation `(ref)` that looks like a placeholder in chapter 1.6 regarding md5 checksum. Does it mean a missing reference link?

[2022-10-11 07:47] jenast commented on #162
Hi,

I would have to check with Frode Fossøy to be sure. But I think we do:

Some sort of negative check in the lab. Not sure if it's "extractions
blank" or just PCR negative, but we do at least one of the two. I assume a
failure here would warrant a rerun of the processing to get a valid result.
We also spike our samples with a known amount of alien species as a
positive test. We don't consider t

[2022-10-14 14:08] CecSve commented on #162
Thanks Jens - for now, describing it in the metadata is a good option. Good luck with the updates!